<script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.core.min.js"></script> 

<div  ng-if="user().security_mask >=8" ng-controller="chrgController" class="panel panel-default" ng-init="">
<!-- If database is empty -->
    <div style="margin-top:3%;margin-right:1%;margin-left:1%" class="alert alert-warning" ng-show="charges.length === 0">
        <h1 class="text-center">Veuillez
            <a color="red" ui-sref="Gest-Charges.importer"> importer</a> s'il vous plaît une accréditation</h1>
    </div>
<!-- If database is full-->
<div ng-hide="charges.length === 0">	
<div class="navbar-header" style="margin-top:1%;margin-left:1%">
            <div style="margin-top:1%;margin-left:1%;margin-right:50%">
                <h1 ng-show="selectedannee">Année universitaire :
                    <a>{{selectedannee}}</a>
                </h1>
            </div>
            <div  class="text-center">
                <table>
					<tr>
                    <h1 ng-show="search.Coordinnateur">Enseignant :
                        <a>{{search.Coordinnateur| uppercase}}</a>
                    </h1>
                </tr>
					<tr>
                    <h1 ng-show="search.Departement">Département :
                        <a>{{search.Departement| uppercase}}</a>
                    </h1>
                </tr>

                    <tr>
                        <h1 ng-show="search.filiere">Filière:
                            <a>{{search.filiere| uppercase}}</a>
                        </h1>
                    </tr>
                </table>
            </div>
        </div>
		<br/>
        <div  class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">
           
		 <table class=" table table-hover">
             
                        <tr>
                            <th >
                                <h4> Année : </h4>

                                <select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

                                    <option ng-repeat="x in charges | lowercase  | unique :'annee'">{{x.annee}}</option>
                                </select>
                
                            </th>
				            <th ng-show="selectedannee">
                                <h5> Département : </h5>

                                <input type="text" ng-model="search.Departement" class="form-control search-input  border-primary" placeholder="chercher une Departement ..">
                            </th>
							
							 <th ng-show="selectedannee">
                                <h5> Filière : </h5>

                                <input type="text"  ng-model="search.filiere" class="form-control search-input  border-primary" placeholder="chercher une filiere ..">
                            </th>
							</tr>
						
                 <tr  ng-show="selectedannee">
				 <td colspan=2 class="text-center">
				 
	              <a  ng-click="getannee(selectedannee)" class="navbar-toggle btn btn-outline-primary  dropdown-menu-right ">
				  <span class="glyphicon glyphicon-trash"> </span> 
				  Archiver  </a>
                   </td> 
                <td colspan=2>	<button ng-model="add" type="button" class="btn btn-light" ng-click="addgh()">
                   <span class="ft ft-user-plus" aria-hidden="true" title="Ajouter Comptes"></span>
                   </button>
				</td>				   
			   </tr>  
				
                </table>



          
			</div>
     <br/>
         <!-- Start Add new teacher -->
                <div style="margin-left:1%;margin-right:1%" ng-show="addVisible">
                    <form name="myForm">
                        <table border="2" class="table border table-hover">
                            <h3>Ajouter un enseignant</h3>
                            <tbody>
                                <tr>

                                    <td>
                                        <label class="control-label " for="niveau">Niveau :</label>
                                        <input type="text" class="form-control" ng-model="charge.niveau" required/>

                                    </td>
                                    <td>
                                        <label class="control-label " for="Semestre">Semestre :</label>
                                        <input type="text" class="form-control" ng-model="charge.Semestre" required/>

                                    </td>

                                    <td>
                                        <label class="control-label " for="IntutileModule">IntutileModule :</label>
                                        <input type="text" class="form-control" ng-model="charge.IntutileModule" />

                                    </td>
                                    <td>
                                        <label class="control-label " for="ElementdeModule">ElementdeModule :</label>
                                        <input type="text" class="form-control" ng-model="charge.ElementdeModule" required/>

                                    </td>
                                    <td>
                                        <label class="control-label " for="Coordinnateur">Enseignant :</label>
                                        <input type="text" class="form-control" ng-model="charge.Coordinnateur" required/>
                                    </td>


                                </tr>
                                <tr>

                                    <td>
                                        <label class="control-label " for="Departement">Departement :</label>
                                        <input type="text" class="form-control" ng-model="charge.Departement" required/>

                                    </td>
                                    <td>
                                        <label class="control-label " for="filiere">filiere :</label>
                                        <input type="text" class="form-control" ng-model="charge.filiere"  required/>

                                    </td>


                                    <td>
                                        <label class="control-label " for="totalfinalTD">TD-Charge:</label>
                                        <input type="number" class="form-control" ng-model="charge.totalfinalTD" required/>
                                    </td>
                                    <td>
                                        <label class="control-label " for="totalfinalTP">TP-Charge:</label>
                                        <input type="number" class="form-control" ng-model="charge.totalfinalTP" required/>
                                    </td>
                                    <td>
                                        <label class="control-label " for="totalfinalCRs">CRs-Charge:</label>
                                        <input type="number" class="form-control" ng-model="charge.totalfinalCRs" required/>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <label class="control-label " for="intervenantrole">Role:</label>
                                        <input type="text" class="form-control" ng-model="charge.intervenantrole" required/>
                                    </td>
                                    <td colspan="3">
                                        <label class="control-label " for="total">total charge autorisée:</label>
                                        <input type="number" class="form-control" ng-model="charge.total" required/>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>


                                <tr>
                                    <td>
                                        <button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="valider()">
                                            <span class="ft ft-check-square" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-info" ng-click="hideAdd()">
                                            <span class="ft ft-x" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>


                            </tfoot>
                        </table>
                    </form>

                </div>
                <br/>
                <!--End Add new teacher -->
	 <br/>
<!--Start show table -->

  
	 		
		<div style="overflow-x:scroll;margin-left:1%;margin-right:1%" ng-show="selectedannee">
		<table  ng-init="getCharges()" class="table  table-bordered table-hover ">
			<thead >
			<tr  class="bg-info" > 
			    <th class="text-center" ng-hide="hide">Informations</th>
			    <th title="Semestre" class="text-center" ng-show="hide"><a  ng-click="orderByField='Semestre'; reverseSort = !reverseSort">
				S<span ng-show="orderByField == 'Semestre'"><span ng-show="!reverseSort"> <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                </a>
				 </th> 
			    <th title="Element de module" class="text-center" ng-show="hide"><a  ng-click="orderByField='ElementdeModule'; reverseSort = !reverseSort">
				ElmtModule <span ng-show="orderByField == 'ElementdeModule'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                </a></th> 
				<th class="text-center"  >
							<a ng-click="orderByField='Coordinnateur'; reverseSort = !reverseSort">
								Enseignant
								<span ng-show="orderByField == 'Coordinnateur'">
									<span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span>
									<span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span>
								</span>
							</a>
				</th>
				
				<th class="text-center" ng-show="hide"><a  ng-click="orderByField='filiere'; reverseSort = !reverseSort">
				filiere   <span ng-show="orderByField == 'filiere'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                </a>
				</th>
				<th class="text-center" ng-show="hide" title="Département"><a  ng-click="orderByField='Departement'; reverseSort = !reverseSort">
				Dep <span ng-show="orderByField == 'Departement'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                </a>
				</th>
				 <th class="text-center" title="charge cour accréditation" ng-show="hide">CRs_Ac</th>
						<th  class="text-center" title="charge cour acctuelle">CRs_A</th>
						<th class="text-center"   title="charge TD accréditation"ng-show="hide">TD_Ac</th>
						<th class="text-center" title="charge TD acctuelle">TD_A</th>
				 <th class="text-center" title="charge TP accréditation" ng-show="hide">TP_Ac</th>
						<th class="text-center" title="charge TP acctuelle">TP_A</th>
				
			
            </tr> 
			
			</thead>
            <tbody>
			
			<tr ng-repeat="charge in charges| startFrom:currentPage*pageSize | limitTo:pageSize|orderBy:orderByField:reverseSort| filter :selectedannee  | filter :selectedfiliere| filter:search ">
			<td  ng-show="isEditable[charge._id]">
							<table>
								<tr>
								    <td>
										<label  title="Semestre">Semestre:</label>
									</td>
								    <td>
									{{ charge.Semestre }}
									</td>
								</tr>
								<tr>
									<td>
										<label  title="ElementdeModule">ElmtM:</label>
									</td>
									<td>
									 {{ charge.ElementdeModule }}
									</td>
								</tr>
								<tr>
									<td>
										<label  title="Filière">Filière:</label>
									</td>
									<td>
                                         {{ charge.filiere }}
									</td>
								</tr>
								<tr>
									<td>
										<label  title="Departement">Dep:</label>
									</td>
									<td>
                                        {{ charge.Departement }}
									</td>						
								</tr>
							</table>
						</td>
						<td ng-show="isEditable[charge._id]">
                                    <input class="form-control" type="text" ng-model="tmpEdit[charge._id].Coordinnateur" />
									</td>
			<td class='input' ng-show="isEditable[charge._id]">
							<h3> Enseignement (cours):</h3>
							<br/>
							<table>
								<tr>
									<td>
										<label>Volume de chaque séance:</label>
									</td>
									<td>
										<label>Nombre de groupes:</label>
									</td>
									<td>
										<label>Nbre Occurrences:</label>
									</td>
								</tr>
								<tr>
									<td>
										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreSceance" />
									</td>

									<td>

										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreGroupe" />
									</td>

									<td>

										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreOccurence" />
									</td>
								</tr>
								<tr>
									<td colspan=3>
										<label>Volume totale cour (cour):</label>
										<input ng-show="tmpEdit[charge._id].CRs.NbreSceance && tmpEdit[charge._id].CRs.NbreOccurence && tmpEdit[charge._id].CRs.NbreGroupe"
										 type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalCRs= (tmpEdit[charge._id].CRs.NbreOccurence * tmpEdit[charge._id].CRs.NbreGroupe * tmpEdit[charge._id].CRs.NbreSceance) "
										 ng-model="tmpEdit[charge._id].totalfinalCRs">
									</td>
								</tr>
							</table>



						</td>
			<td class='input' ng-show="isEditable[charge._id]">
							<h3> Enseignement (TD):</h3>
							<br/>
							<table>
								<tr>
									<td>
										<label>Volume de chaque séance:</label>
									</td>
									<td>
										<label>Nombre de groupes:</label>
									</td>
									<td>
										<label>Nbre Occurrences:</label>
									</td>
								</tr>
								<tr>
									<td>
										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreSceance" />
									</td>

									<td>

										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreGroupe" />
									</td>

									<td>

										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreOccurence" />
									</td>
								</tr>
								<tr>
									<td colspan=3>
										<label>Volume totale TD (TD):</label>
										<input ng-show="tmpEdit[charge._id].TD.NbreSceance && tmpEdit[charge._id].TD.NbreOccurence && tmpEdit[charge._id].TD.NbreGroupe"
										 type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalTD= (tmpEdit[charge._id].TD.NbreOccurence * tmpEdit[charge._id].TD.NbreGroupe * tmpEdit[charge._id].TD.NbreSceance) "
										 ng-model="tmpEdit[charge._id].totalfinalTD">
									</td>
								</tr>
							</table>



						</td>

						
			<td class='input' ng-show="isEditable[charge._id]">
							<h3> Enseignement (TP):</h3>
							<br/>
							<table>
								<tr>
									<td>
										<label>Volume de chaque séance:</label>
									</td>
									<td>
										<label>Nombre de groupes:</label>
									</td>
									<td>
										<label>Nbre Occurrences:</label>
									</td>
								</tr>
								<tr>
									<td>
										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreSceance" />
									</td>

									<td>

										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreGroupe" />
									</td>

									<td>

										<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreOccurence" />
									</td>
								</tr>
								<tr>
									<td colspan=3>
										<label>Volume totale TP (TP):</label>
										<input ng-show="tmpEdit[charge._id].TP.NbreSceance && tmpEdit[charge._id].TP.NbreOccurence && tmpEdit[charge._id].TP.NbreGroupe"
										 type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalTP= (tmpEdit[charge._id].TP.NbreOccurence * tmpEdit[charge._id].TP.NbreGroupe * tmpEdit[charge._id].TP.NbreSceance) "
										 ng-model="tmpEdit[charge._id].totalfinalTP">
									</td>
								</tr>
							</table>



						</td>

			
			<td class='input' ng-show="isEditable[charge._id]" ng-if="tmpEdit[charge._id].totalfinalTP + tmpEdit[charge._id].totalfinalTD +tmpEdit[charge._id].totalfinalCRs > tmpEdit[charge._id].total">
                                    <div role="alert" class="alert alert-danger text-center">
                                        <h3>
                                            <i class="fa fa-exclamation-triangle"></i>
                                            <strong color="red" class="text-center">Vous avez dépassé la charge autorisées {{charge.total}} de ce module</strong>
                                        </h3>
                                    </div>
                                </td>
                                <td class='input' ng-show="isEditable[charge._id]">
                                    <button class="btn btn-success" title="Confirmer" ng-click="confirm(charge._id,charge)" ng-if="tmpEdit[charge._id].totalfinalTP + tmpEdit[charge._id].totalfinalTD +tmpEdit[charge._id].totalfinalCRs <=tmpEdit[charge._id].total">
                                        <span class="ft ft-check-square" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-info" title="Annuler" ng-click="annuler(charge._id)">
                                        <span class="ft ft-x" aria-hidden="true"></span>
                                    </button>
            </td>
			
			 <td ng-show="hide" ng-hide="isEditable[charge._id]">{{ charge.Semestre  }}</td>
            <!-- <td ng-hide="isEditable[charge._id]">{{ charge.IntutileModule  }}</td> -->
            <td  ng-hide="isEditable[charge._id]">{{ charge.ElementdeModule }}</td>
            <td  ng-hide="isEditable[charge._id]">{{ charge.Coordinnateur  }} </td>
      		<td ng-show="hide" ng-hide="isEditable[charge._id]">{{ charge.filiere}} </td>
			<td ng-show="hide" ng-hide="isEditable[charge._id]">{{ charge.Departement}} </td>
			<td ng-show="hide" ng-hide="isEditable[charge._id] ">{{ charge.totalinitialCRs}} </td>
						<td ng-hide="isEditable[charge._id]">{{ charge.totalfinalCRs}} </td>
						<td ng-show="hide" ng-hide="isEditable[charge._id] ">{{ charge.totalinitialTD}} </td>
						<td ng-hide="isEditable[charge._id]">{{ charge.totalfinalTD}} </td>
						<td ng-show="hide" ng-hide="isEditable[charge._id]">{{ charge.totalinitialTP}} </td>
						<td ng-hide="isEditable[charge._id]">{{ charge.totalfinalTP}} </td>
			<td ng-hide="isEditable[charge._id]">
              <button  class="btn btn-primary inline" ng-click="editer(charge,charge._id)"><span class="ft ft-edit" aria-hidden="true"></span></button>
              <button  ng-confirm-click="Voulez-vous vraiment supprimer?" class="btn btn-danger" ng-click="deleteCharge(charge._id)"><span class="ft ft-trash-2" aria-hidden="true"></span></button>
			  </td>
			   <!-- <button class="btn btn-md  btn-primary " data-toggle="modal"  -->
			   <!-- ng-click="apercu()" data-target="#apercuModal"><i class="ft ft-eye"></i>info</button> -->
			</tr>
			</tbody>
			
		</table>
 </div>		
 </div>

 </div> 
  </div>
</div>


