<div ng-if="user().security_mask >= 4 && user().security_mask <8" ng-controller="prof_chrgController" class="panel panel-default" ng-init="getCharges()">
 <!-- If database is empty -->
    <div style="margin-top:3%;margin-right:1%;margin-left:1%" class="alert alert-warning" ng-show="charges.length === 0">
        <h1 class="text-center">Veuillez
            <a color="red" ui-sref="Gest-Charges.importer"> importer</a> une nouvelle accréditation ou
            <a color="red" ui-sref="Gest-Charges.archiver"> désarchiver</a> une ancienne</h1>
    </div>
	
	<!-- If database is full-->
    <div ng-hide="charges.length === 0">

	    <div class="navbar-header" style="margin-top:1%;margin-left:1%">
            <div style="margin-top:1%;margin-left:1%;margin-right:50%">
                <h1 ng-show="selectedannee">Année universitaire :
                    <a>{{selectedannee}}</a>
                </h1>
            </div>
            <h2 style="margin-top:1%;margin-bottom:2%" class="text-center">Département:
                <a ng-repeat="x in charges|filter:user().nom| unique :'Departement'">{{x.Departement}}</a>
            </h2>
            <div style="margin-right:1%;margin-left:1%" class="alert alert-danger text-center " role="alert" ng-hide="DEP">
                <h3>
                    <i class="fa fa-exclamation-triangle"></i>
                    <strong color="red">Valider</strong> votre département:

                    <div class="text-center">
                        <select class="dropdown-menu-sm border-primary " ng-model="DEP">
                            <option ng-repeat="x in charges|filter:user().nom| unique :'Departement'">{{x.Departement}}</option>
                        </select>
                    </div>
                </h3>

            </div>
            <div ng-show="DEP" class="text-center">
                <table>
                    <tr>
                        <h1 ng-show="search.Coordinnateur">Enseignant:
                            <a>{{search.Coordinnateur |uppercase}}</a>
                        </h1>
                    </tr>
                </table>
            </div>
        </div>
	
  <!--first of everythings -->
<div ng-show="DEP" class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">

            <table class=" table table-hover">

                <tr>
                    <th>
                        <h4>Année: </h4>

                        <select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

                            <option ng-repeat="x in charges | lowercase  | unique :'annee'">{{x.annee}}</option>
                        </select>

                    </th>


                    <th ng-show="ensei">
                        <h4 ng-show="selectedannee">Enseignant : </h4>

                        <input ng-show="selectedannee" type="text" ng-model="search" ng-change="sommetotal=0" class="form-control search-input  border-primary"
                            placeholder="chercher une enseignant ..">
						<br>
						 <h4 ng-show="selectedannee"  >Calculer la charge :</h4>
                        <button  ng-show="selectedannee" type="button" ng-click="sub()" class="btn btn-danger">
                            <span class="ft ft-play" aria-hidden="true"></span>
                        </button>
                    </th>
						
                    <th ng-show="v">
						<h4 ng-show="v">Autre enseignant:</h4>
                        <button ng-show="v" type="button" ng-click="enseign()" class="btn btn-primary">
                            <span class="ft ft-search" aria-hidden="true"></span>
                        </button>
					</th>						
				    <th ng-show="v">
						<h4 ng-show="v">Valider la charge:</h4>
                        <button ng-show="v" type="button" ng-click="vali()" class="btn btn-success">
                            <span class="ft ft-check-square" aria-hidden="true"></span>
                        </button>
					</th>
					<th ng-show="selectedannee">
							<h5>Vous pouvez exporter/imprimer votre charge:</h5>
							<a ui-sref="Gest-Charges.exporterDepa">
								<i class="fa fa-user-o"></i>
								<span data-i18n="" class="menu-title">Exporter/imprimer</span>
							</a>
						</th>
                    <th ng-show="selectedannee">
                        <h4>Ajouter enseignant :</h4>
                        <button ng-model="add" type="button" class="btn btn-light" title="Ajouter enseignant" ng-click="addgh()">
                            <span class="ft ft-user-plus" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
				<tr >

				
				</tr>
            </table>
        </div>
        <br/>

<!-- Start Add new teacher -->
        <div style="margin-left:1%;margin-right:1%" ng-show="addVisible">
            <form name="myForm">
                <table border="2" class="table border table-hover">
                    <h3>Ajouter un enseignant</h3>
                    <tbody>
                        <tr>

                            <td>
                                <label class="control-label " for="niveau">Niveau :</label>
                                <input type="text" class="form-control" ng-model="charge.niveau" required/>

                            </td>
                            <td>
                                <label class="control-label " for="Semestre">Semestre :</label>
                                <input type="text" class="form-control" ng-model="charge.Semestre" required/>

                            </td>

                            <td>
                                <label class="control-label " for="IntutileModule">IntutileModule :</label>
                                <input type="text" class="form-control" ng-model="charge.IntutileModule" required/>

                            </td>
                            <td>
                                <label class="control-label " for="ElementdeModule">ElementdeModule :</label>
                                <input type="text" class="form-control" ng-model="charge.ElementdeModule" required/>

                            </td>
                            <td>
                                <label class="control-label " for="Coordinnateur">Enseignant :</label>
                                <input type="text" class="form-control" ng-model="charge.Coordinnateur" required/>
                            </td>


                        </tr>
                        <tr>

                            <td>
                                <label class="control-label " for="Departement">Departement :</label>
                                <input type="text" class="form-control" ng-model="charge.Departement" ng-value="charge.Departement=DEP" required/>

                            </td>
                            <td>
                                <label class="control-label " for="filiere">filiere :</label>
                                <input type="text" class="form-control" ng-model="charge.filiere" required/>

                            </td>


                            <td>
                                <label class="control-label " for="totalfinalTD">TD-Charge:</label>
                                <input type="text" class="form-control" ng-model="charge.totalfinalTD" required/>
                            </td>
                            <td>
                                <label class="control-label " for="totalfinalTP">TP-Charge:</label>
                                <input type="number" class="form-control" ng-model="charge.totalfinalTP" required/>
                            </td>
                            <td>
                                <label class="control-label " for="totalfinalCRs">CRs-Charge:</label>
                                <input type="text" class="form-control" ng-model="charge.totalfinalCRs" required/>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <label class="control-label " for="intervenantrole">Role:</label>
                                <input type="text" class="form-control" ng-model="charge.intervenantrole" required/>
                            </td>
                            <td colspan="3">
                                <label class="control-label " for="total">total charge autorisée:</label>
                                <input type="text" class="form-control" ng-model="charge.total" required/>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>


                        <tr>
                            <td>
                                <button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="valider()">
                                    <span class="ft ft-check-square" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-info" ng-click="hideAdd()">
                                    <span class="ft ft-x" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>


                    </tfoot>
                </table>
            </form>

        </div>
        <br/>
        <!--End Add new teacher -->
            <!--Start show charge Dep -->
 <div style="overflow-x:scroll;margin-left:1%;margin-right:1%" ng-show="selectedannee">   
			     <table ng-show="val"   ng-init="getCharges()" border="2"  class="table  table-bordered table-hover table-striped ">
                     <thead>
                    <tr class="bg-info">
                        <th class="text-center" ng-hide="hide">Informations</th>
                        <th title="Semestre" class="text-center" ng-show="hide">
                            <a ng-click="orderByField='Semestre'; reverseSort = !reverseSort">
                                S
                                <span ng-show="orderByField == 'Semestre'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>

                        <th title="Element de module" class="text-center" ng-show="hide">
                            <a ng-click="orderByField='ElementdeModule'; reverseSort = !reverseSort">
                                ElmtModule
                                <span ng-show="orderByField == 'ElementdeModule'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>

                       
                        <th class="text-center" ng-show="hide">
                            <a ng-click="orderByField='filiere'; reverseSort = !reverseSort">
                                filiere
                                <span ng-show="orderByField == 'filiere'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>
                        <!-- <th class="text-center" title="charge cour accréditation" ng-show="hide">CRs_Ac</th> -->
                        <th class="text-center" title="charge cour acctuelle">CRs_A</th>
                        <!-- <th class="text-center" title="charge TD accréditation" ng-show="hide">TD_Ac</th> -->
                        <th class="text-center" title="charge TD acctuelle">TD_A</th>
                        <!-- <th class="text-center" title="charge TP accréditation" ng-show="hide">TP_Ac</th> -->
                        <th class="text-center" title="charge TP acctuelle">TP_A</th>

                        <th>Total</th>
                    </tr>
                </thead>
                    <tbody ng-init="sommetotal=0">
                        <tr ng-repeat="charge in resultValue=(charges |filter:search|filter:selectedannee|filter: DEP)">
                           
                            <td >{{ charge.Semestre }}</td>
                    <td >{{ charge.ElementdeModule }}</td>
                    
				    <td >{{ charge.filiere}} </td>
                    <td ng-hide="search" ng-model="enseignan.Coordinnateur" ng-value=" enseignan.Coordinnateur=charge.Coordinnateur">{{ charge.Coordinnateur }}</td> 
                    <td ng-hide="DEP" ng-model="enseignan.Departement" ng-value=" enseignan.Departement=charge.Departement">{{ charge.Departement }}</td>								
                    <td >{{ charge.totalfinalCRs}} </td>    
                    <td>{{ charge.totalfinalTD}} </td>
                    <td >{{ charge.totalfinalTP}} </td>						
                    <td>
								{{ charge.totalfinalCRs* 1.5 + charge.totalfinalTD*1 + charge.totalfinalTP *0.75 }}
							</td>				 
                        </tr>
                        <tr>
                            <td colspan=3 class="text-center">
                                <b>Totaux </b>
                            </td>

                            <td>
                                <b>{{resultValue| sumOfValue:'totalfinalCRs'}}</b>
                            </td>
                            <td>
                                <b>{{resultValue | sumOfValue:'totalfinalTD'}}</b>
                            </td>
                            <td>
                                <b>{{resultValue | sumOfValue:'totalfinalTP'}}</b>
                            </td>
                <td ng-model="enseignan.totale" ng-value="enseignan.totale=studentdata(search)" bgcolor="yellow" style="border: 1px black solid;">
                    <h3>
                        <strong>{{studentdata(search)}}</strong>
                    </h3>
                </td>

                        </tr>
                    </tbody>
            

                </table>
			
			
			</div>
            <!--End show charge Dep -->
						
</div>	
</div>