<!--Header-->

 <div ng-include src="'./Gest-Charges/enseignant-info/header.html'"></div> 
 <div ng-include src="'./Gest-Charges/liste/charge-ense.html'"></div> 
  <div ng-include src="'./Gest-Charges/liste/Affichage.html'"></div> 
