<section id="minimal-statistics-bg" style="margin-left: 20%;margin-right: 20%;">
  <div class="card">
    <div class="card-header">
      <h4 class="text-uppercase">
        <strong>tableau de bord</strong>
      </h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-primary">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="ft-file white font-large-2 float-left"></i>
                    </div>
                    <div class="media-body white text-right">
                      <a ui-sref="Gest-Filiere.filiere">
                        <span class="white">
                          <strong> Acréditation</strong>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-danger">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="ft-calendar white font-large-2 float-left"></i>
                    </div>
                    <div class="media-body white text-right">
                      <a ui-sref="Gest-Charges.acceuil">
                        <span class="white">
                          <strong>Gestion Charge</strong>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-success">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="ft-check white font-large-2 float-left"></i>
                    </div>
                    <div class="media-body white text-right">
                      <a ui-sref="Gest-Delib">
                        <span class="white">
                          <strong>Gestion Délibération</strong>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-warning">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="ft-folder white font-large-2 float-left"></i>
                    </div>
                    <div class="media-body white text-right">
                      <a ui-sref="Gest-PFE">
                        <span class="white">
                          <strong>Gestion PFE</strong>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>