<div ng-controller="g_headerController" ng-init="">
        <div class="navbar-header" style="margin-top:1%;margin-left:1%;margin-right:1%">
		<h3 class="text-left">         
													  <i class="fa fa-calendar"></i> 
													  <span data-i18n="" class="menu-title">{{ today |date:'longDate' }}</span>	</h3>
													  
													   <h3 class="text-right">  <i class="fa fa-user-circle-o "></i> 
                    <span data-i18n="" class="menu-title">{{user().nom}} {{user().prenom}}</span>  	</h3>

        </div>
<div ng-controller="archiController" class="panel panel-default" ng-init="getarchive()">
	
	<div class="navbar-header" style="margin-top:1%;margin-left:1%">
        <div class="text-center">
            <table>

               
                <tr>
                    <h1 ng-show="selectedannee">Vous avez choisi :
                        <a>{{selectedannee}}</a>
                    </h1>
                </tr>
				 <tr>
                    <h1 ng-show="selectedniveau">Le niveau séléctionnée est :
                        <a>{{selectedniveau}}</a>
                    </h1>
                </tr>
                <tr>
                    <h1 ng-show="search.Departement">La département séléctionnée est :
                        <a>{{search.Departement}}</a>
                    </h1>
                </tr>
                <tr>
                    <h1 ng-show="selectedfiliere">La filière séléctionnée est :
                        <a>{{selectedfiliere}}</a>
                    </h1>
                </tr>
            </table>
        </div>
	
    </div>
 <div  class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">

            <table class=" table table-hover">

                <tr>
                    <th>
                        <h4>Année: </h4>

                            <select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

                                <option ng-repeat="x in archives | lowercase  | unique :'annee'">{{x.annee}}</option>
                            </select>
							
            
            </th>
<th>
                            <h5>Niveau: </h5>

                            <select class="dropdown-menu-sm border-primary " ng-model="selectedniveau">

                                <option ng-repeat="x in archives | lowercase|unique:'niveau'">{{x.niveau}}</option>
                            </select>
							
            </div>
            </th>

            <th>
                <h5 ng-show="selectedannee && selectedniveau">Département : </h5>

                <input ng-show="selectedannee && selectedniveau" type="text" type="text" ng-model="search.Departement" class="form-control search-input  border-primary"
                    placeholder="chercher une Departement ..">
            </th>




            <th>
                <h5 ng-show="selectedannee && selectedniveau">Filière : </h5>

                <select class="dropdown-menu-sm border-primary " ng-model="selectedfiliere" ng-show="selectedannee && selectedniveau">

                    <option ng-repeat="x in archives | lowercase  | unique :'filiere'">{{x.filiere}}</option>
                </select>
            </th>
            <th><a  ng-show="selectedannee && selectedniveau" ng-click="getniveau(selectedannee,selectedniveau)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Désarchiver  </a></th>
            </tr>
            </table>



        </div>
        <br/>
		
     <br/>
		<div  ng-show="selectedannee && selectedniveau">
		<table  ng-init="getarchive()" class="table  table-bordered table-hover ">
			<thead  class="bg-info">
			<tr> 
			    <th><a  ng-click="orderByField='Semestre'; reverseSort = !reverseSort">
				Semestre <span ng-show="orderByField == 'Semestre'"><span ng-show="!reverseSort"> </span><span ng-show="reverseSort"></span></span>
                </a>
				 </th> 
			    <th><a  ng-click="orderByField='ElementdeModule'; reverseSort = !reverseSort">
				ElementdeModule <span ng-show="orderByField == 'ElementdeModule'"><span ng-show="!reverseSort"> </span><span ng-show="reverseSort"></span></span>
                </a></th> 
				<th><a  ng-click="orderByField='Departement'; reverseSort = !reverseSort">
				Departement    <span ng-show="orderByField == 'Departement'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span></span>
                </a>
				</th>
				
				<th><a  ng-click="orderByField='filiere'; reverseSort = !reverseSort">
				filiere    <span ng-show="orderByField == 'filiere'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span></span>
                </a>
				</th>
			
            </tr> 
			</thead>
            <tbody>
			
			<tr ng-repeat="archi in archives|orderBy:orderByField:reverseSort| filter :selectedannee| filter :selectedfiliere|filter:selectedniveau| filter:search ">
		<td>{{archi.Semestre}}</td>
		<td>{{archi.ElementdeModule}}</td>
		<td>{{archi.Departement}}</td>
		<td>{{archi.filiere}}</td>
			

	
			</tr>
			</tbody>
	
		</table>
 </div>		

 </div> 
</div>


