<script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.core.min.js"></script>

<div ng-if="user().security_mask >=8" ng-controller="chrgController" class="panel panel-default" ng-init="">
    <!-- If database is empty -->
    <div style="margin-top:3%;margin-right:1%;margin-left:1%" class="alert alert-warning" ng-show="charges.length === 0">
        <h1 class="text-center">Veuillez
            <a color="red" ui-sref="Gest-Charges.importer"> importer</a> s'il vous plaît une accréditation</h1>
    </div>
    <!-- If database is full-->
    <div ng-hide="charges.length === 0">

        <div class="navbar-header" style="margin-top:1%;margin-left:1%">
            <div style="margin-top:1%;margin-left:1%;margin-right:50%">
                <h1 ng-show="selectedannee">Année universitaire :
                    <a>{{selectedannee}}</a>
                </h1>
            </div>
            <div class="text-center">
                <table>
					<tr>
                    <h1 ng-show="search.Coordinnateur">Enseignant :
                        <a>{{search.Coordinnateur| uppercase}}</a>
                    </h1>
                </tr>
					<tr>
                    <h1 ng-show="search.Departement">Département :
                        <a>{{search.Departement| uppercase}}</a>
                    </h1>
                </tr>

                    <tr>
                        <h1 ng-show="selectefiliere">Filière:
                            <a>{{selectefiliere| uppercase}}</a>
                        </h1>
                    </tr>
                    
                </table>
            </div>

          
            <br/>
 <div  class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">
           
		 <table class=" table table-hover">
             
                        <tr>					
							
                            <th>
                                <h4>Année: </h4>

                                <select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

                                    <option ng-repeat="x in charges | lowercase  | unique :'annee'">{{x.annee}}</option>
                                </select>

                            </th>
							<th>
                                <h5 ng-show="selectedannee">Filière: </h5>

                                <select ng-show="selectedannee" class="dropdown-menu-sm border-primary " ng-model="selectefiliere">

                                    <option ng-repeat="x in charges | lowercase  | unique :'filiere'">{{x.filiere}}</option>
                                </select>

                            </th>
					<th>
                    <h4 ng-show="selectedannee">Département: </h4>
                     <input ng-show="selectedannee" type="text" ng-model="search.Departement" class="form-control search-input  border-primary" placeholder="Chercher par Departement ..">
                             </th>
					<th>
                    <h4 ng-show="selectedannee">Enseigant : </h4>
                     <input ng-show="selectedannee" type="text" ng-model="search.Coordinnateur" class="form-control search-input  border-primary" placeholder="Chercher par enseigant ..">
                             </th>
						</tr>
						<tr ng-show="selectedannee" class="text-center">


                            <th colspan=4>
                                <button class="btn btn-light" title="Exporter la charge sous format Excel" ng-click="exportToExcel('#tableToExport')">
                                    <h4>
                                        <span class="fa fa-upload" aria-hidden="true"></span>
                                    </h4>

                                </button>
                                <button ng-click="printToCart('printSectionId')" class="btn btn-success" title="Imprimer la charge">
                                    <h4>
                                        <span class="ft ft-printer" aria-hidden="true"></span>
                                    </h4>
                                </button>
                                <a ui-sref="Gest-Charges.liste">
                                    <i class="fa fa-user-o"></i>
                                    <span data-i18n="" class="menu-title">Editer</span>
                                </a>
                            </th>
                            
                        </tr>
                    </table>



                </div>
               





            </div>
        </div>
        <br/>
        <div style="overflow-x:scroll;margin-left:1%;margin-right:1%" id="printSectionId" ng-show="selectedannee">
            <table border="2" id="tableToExport" ng-init="getCharges()" class="table  table-bordered table-striped ">


                <!-- </tr> -->
                <!-- </thead> -->
                <thead class="bg-info">
                    <tr>
                        <th>Niveau </th>
						<th>Semestre </th>
                        <th>IntutileModule </th>
                        <th>ElementdeModule</th>
                        <th>Coordinnateur </th>
                        <th>Departement</th>
						<th>filiere</th>
                        <th>CRs</th>
                        <th>TD</th>
                        <th>TP</th>
						<th><h4>
                                <strong>Totale</strong> </h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="charge in charges|orderBy:'niveau'| filter :annee| filter:selectefiliere|filter: search">

                        <td>{{ charge.niveau }}</td>
                        <td>{{ charge.Semestre }}</td>
                        <td>{{ charge.IntutileModule }}</td>
                        <td>{{ charge.ElementdeModule }}</td>
                        <td>{{ charge.Coordinnateur }} </td>
                        <td>{{ charge.Departement}} </td>
						 <td>{{ charge.filiere}} </td>
                        <td>{{ charge.totalfinalCRs}} </td>
                        <td>{{ charge.totalfinalTD}} </td>
                        <td>{{ charge.totalfinalTP}} </td>
						<td class="text-center">
						<h4>
                                <strong>{{ charge.totalfinalCRs* 1.5 + charge.totalfinalTD*1 + charge.totalfinalTP *0.75}}</strong>
                            </h4>
						 </td>

                    </tr>
                </tbody>
				<tfoot>
			<tr>
			<th  class="text-center" colspan=10 bgcolor="#c2c2a3"><h4><strong> Volume Horaire</strong> </h4></th>
			<th  class="text-center" bgcolor="yellow"><h4><strong>{{resultValue | totalSumPriceQty:'totalfinalTP':'totalfinalTD':'totalfinalCRs'}}</strong></h4></th>
			</tr>
			</tfoot>

            </table>
        </div>



    </div>

</div>