<!-- <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.core.min.js"></script>  -->

<div  ng-if="user().security_mask >=1 && user().security_mask<8" ng-controller="exportprofController" class="panel panel-default" ng-init="">
<!-- If database is empty -->
    <div style="margin-top:3%;margin-right:1%;margin-left:1%" class="alert alert-warning" ng-show="charges.length === 0">
        <h1 class="text-center" ng-if="user().security_mask >=4">
            Veuillez
            <a color="red" ui-sref="Gest-Charges.importer"> importer </a> une nouvelle accréditation ou
            <a color="red" ui-sref="Gest-Charges.archiver"> désarchiver </a> une ancienne</h1>
        <h1 class="text-center" ng-if="user().security_mask >= 1 && user().security_mask < 4">
            Veuillez contacter la personne qui s'occupe de l'import des accréditation</h1>
    </div>
	  <!-- If database is full-->
    <div ng-hide="charges.length === 0">
	<div class="navbar-header " style="margin-top:1%;margin-left:1%">
		<div style="margin-top:1%;margin-left:1%">
                <h1 ng-show="selectedannee">Année universitaire :
                    <a>{{selectedannee}}</a>
                </h1>
        </div>
		
		<h2  class="text-center" style="margin-top:1%;margin-bottom:2%" >
		
        		 
		Département :
                <a ng-repeat="x in charges|filter:user().nom| unique :'Departement'">{{x.Departement}}</a>
        </h2>
		<br/>

		 <div class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">
           
		 <table class=" table table-hover">
             
                        <tr>					
							
                            <th>
                                <h4>Année: </h4>
						<select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

							<option ng-repeat="x in charges | lowercase  | unique :'annee'">{{x.annee}}</option>
						</select>

					</th>

					<th ng-show="selectedannee">
						<button  class="btn btn-light" title="Exporter la charge de {{user().nom}} sous format Excel" ng-click="exportToExcel('#tableToExport')">
                    <h4><span class="fa fa-upload" aria-hidden="true"></span></h4>
                   
                </button>
                <button  ng-click="printToCart('printSectionId')" class="btn btn-success" title="Imprimer la charge de {{user().nom}}">
				<h4><span class="ft ft-printer" aria-hidden="true"></span></h4></button>
				<a ui-sref="Gest-Charges.enseignant-info">
                      <i class="fa fa-user-o"></i> 
                    <span data-i18n="" class="menu-title">Editer</span> 
                </a> 	
					</th>
					<th></th>
				</tr>
			</table>



		</div>
<br/>
	
		<div  style="overflow-x:scroll;margin-left:1%;margin-right:1%" id="printSectionId" ng-show="selectedannee">
		<table 
		border="2" id="tableToExport" ng-init="getCharges()" class="table  table-bordered table-striped ">
			
			
			<!-- </tr> -->
			<!-- </thead> -->
			<thead  class="bg-info">
			<!-- <tr> <th colspan=17 class="text-center">Departement : {{}} </th></tr> -->
			 <tr> <th colspan=17 class="text-center" style="border: 1px black solid;">Professeur : {{user().nom}} {{user().prenom}} </th></tr> 
			<tr>
			 <th colspan=8 class="text-center" style="border: 1px black solid;"> Annee Universitaire : {{selectedannee}}</th>
			  <!-- <th colspan=1></th> -->
			   <th colspan=9 class="text-center" style="border: 1px black solid;">Tableau de service</th>
			    <!-- <th colspan=4 class="text-center"> Professeur: {{user().nom}} </th> -->
				 <!-- <th colspan=1></th> -->
				  
			</tr>
			
			<tr>
			<th  class="text-center" rowspan=2 colspan=1 style="border: 1px black solid;">Semestre</th>
			
			<th class="text-center"  rowspan=2 colspan=1 style="border: 1px black solid;">EmntModule</th>
			<th class="text-center"  rowspan=2 colspan=1 style="border: 1px black solid;"> filiere</th>
			<th class="text-center"  rowspan=2 colspan=1 style="border: 1px black solid;"> Niveau</th>
			<th class="text-center" colspan=4 style="border: 1px black solid;">Enseignement (cour)</th>
			<th class="text-center" colspan=4 style="border: 1px black solid;">Enseignement (TD)</th>
		    <th class="text-center" colspan=4 style="border: 1px black solid;">Enseignement (TP)</th>
			<th colspan=1 style="border: 1px black solid;">Totale</th>
				  
			</tr>
			<tr> 
			<th class="text-center" style="border: 1px black solid;">V-S</th>
			<th class="text-center" style="border: 1px black solid;">Nbre-G</th>
		    <th class="text-center" style="border: 1px black solid;">Nbre-O</th>
			<th class="text-center" style="border: 1px black solid;">T-Crs</th>
			<th class="text-center" style="border: 1px black solid;">V-S</th>
			<th class="text-center" style="border: 1px black solid;">Nbre-G</th>
		    <th class="text-center" style="border: 1px black solid;">Nbre-O</th>
			<th class="text-center" style="border: 1px black solid;">T-TD </th>
			<th class="text-center" style="border: 1px black solid;">V-S</th>
			<th class="text-center" style="border: 1px black solid;">Nbre-G</th>
		    <th class="text-center" style="border: 1px black solid;">Nbre-O</th>
			<th class="text-center" style="border: 1px black solid;">T-TP</th>
			
			<th class="text-center" style="border: 1px black solid;"><h4><strong>HEURE/TD</strong></h4></th>
			    
            </tr> 
			</thead>
			   
            <tbody>
			<tr ng-repeat="charge in resultValue=(charges|orderBy:'niveau' |filter :annee|filter:user().nom) ">
			 
			
			 <td class="text-center" style="border: 1px black solid;">{{charge.Semestre}}</td>
            <td class="text-center" style="border: 1px black solid;" >{{ charge.ElementdeModule  }}</td>
            <td class="text-center" style="border: 1px black solid;">{{ charge.filiere }}</td>
            <td class="text-center"style="border: 1px black solid;" >{{ charge.niveau  }} </td>
            <td class="text-center" style="border: 1px black solid;">{{ charge.CRs.NbreSceance}} </td>
			 <td class="text-center" style="border: 1px black solid;">{{ charge.CRs.NbreGroupe}} </td>
			  <td class="text-center" style="border: 1px black solid;">{{ charge.CRs.NbreOccurence}} </td>
			<td class="text-center" style="border: 1px black solid;">{{ charge.totalfinalCRs}} </td>
			<td class="text-center" style="border: 1px black solid;">{{ charge.TD.NbreSceance}} </td>
			 <td class="text-center" style="border: 1px black solid;">{{ charge.TD.NbreGroupe}} </td>
			  <td class="text-center" style="border: 1px black solid;">{{ charge.TD.NbreOccurence}} </td>
			<td class="text-center" style="border: 1px black solid;">{{ charge.totalfinalTD}}  </td>
			<td class="text-center" style="border: 1px black solid;">{{ charge.TP.NbreSceance}} </td>
			 <td class="text-center" style="border: 1px black solid;">{{ charge.TP.NbreGroupe}} </td>
			  <td class="text-center" style="border: 1px black solid;">{{ charge.TP.NbreOccurence}} </td>
			<td class="text-center" style="border: 1px black solid;">{{ charge.totalfinalTP}} </td>
			<td class="text-center" style="border: 1px black solid;"><h4><strong>{{(charge.totalfinalCRs)*1.5+( charge.totalfinalTD)*1+(charge.totalfinalTP)*0.75}}</strong></h4> </td>
			</tr>
			
			
			<tr>
			<th  class="text-center" colspan=16 style="border: 1px black solid;"><h4><strong> Volume Horaire des charges Enseignements</strong></h4> </th>
			<th  class="text-center" bgcolor="#ff4d4d"style="border: 1px black solid;"><h4><strong>{{resultValue | totalSumPriceQty:'totalfinalTP':'totalfinalTD':'totalfinalCRs'}}</strong></h4></th>
			</tr>
			<tr > <th   bgcolor="#c2c2a3" class="text-center" colspan=17 style="border: 1px black solid;"><h4><strong>Volume Horaire Annuel des charges</strong></h4></th>
			</tr>
			<tr><td colspan=17 style="border: 1px black solid;"></td></tr>
			<tr>
			<th colspan=6  class="text-center" style="border: 1px black solid;" >Projet Fin d'études (PFE)</th>
			<td colspan=3 style="border: 1px black solid;"></td>
			<th colspan=6  class="text-center" style="border: 1px black solid;">Projet Fin d'études (PFA)</th>
			</tr>
			<tr>
			<th colspan=4  class="text-center" style="border: 1px black solid;">Nombre d'Encadrements (10H/1PFE</th>
			<td style="border: 1px black solid;"></td>
			<td bgcolor="#33ccff" style="border: 1px black solid;"></td>
			<td colspan=3 style="border: 1px black solid;"></td>
			<th colspan=5 class="text-center" style="border: 1px black solid;" >Encadrements (PFA1=20H; PFA2=15H; PFA3=10; Plus=0)</th>
			<td bgcolor="#33ccff" style="border: 1px black solid;"></td>
			</tr>
			<tr>
			<th colspan=4 class="text-center" style="border: 1px black solid;">Nombre de Soutenances (2H/1PFE)</th>
			<td style="border: 1px black solid;"></td>
			<td bgcolor="#33ccff" style="border: 1px black solid;"></td>
			<td colspan=3 style="border: 1px black solid;"></td>
			<th colspan=4 class="text-center" style="border: 1px black solid;">Nombre de Soutenances (2H/1PFA)</th>
			<td style="border: 1px black solid;"></td>
			<td bgcolor="#33ccff" style="border: 1px black solid;"></td>
			</tr>
			<tr>
			<th colspan=5 class="text-center" style="border: 1px black solid;">Total PFE</th>
			<td bgcolor="yellow" style="border: 1px black solid;"></td>
			<td colspan=3 style="border: 1px black solid;"></td>
			<th colspan=5 class="text-center" style="border: 1px black solid;">Total PFA</th>
			<td bgcolor="yellow" style="border: 1px black solid;"></td>
			
			</tr>
			<tr>
			<th colspan=15  bgcolor="#c2c2a3"class="text-center" style="border: 1px black solid;"><h4><strong>Volume Horaire des charges Encadrements</strong></h4></th>
			<td style="border: 1px black solid;"></td>
			<td bgcolor="#ff4d4d" style="border: 1px black solid;"></td>
			</tr>
			</tbody>
			<tfoot>
			<tr rowspan=2></tr>
			<tr>
			<th colspan=2><h4><strong>Abréviations:</strong></h4>  
			</th>
			
			<th><strong>EmntModule:</strong>     Elément de module 
			<br><strong>V-S:  </strong>            Volume de chaque séance 
			<br><strong>Nbre-G: </strong>          Nombre de groupes 
			<br><strong>Nbre-O:  </strong>         Nombre Occurrences 
			<br><strong>T-Crs:  </strong>          Volume totale Cours (TC)
			<br><strong>T-TD:   </strong>          Volume totale TD (TD)
			<br><strong>T-TP:   </strong>          Volume totale TP (TP)</th>
			</tr>
			</tfoot>
		</table>
 </div>		

</div>


