<div  ng-controller="g_headerController">
           <div class="navbar-header" style="margin-top:1%;margin-left:1%;margin-right:1%">
                        <h3 class="text-left">         
													  <i class="fa fa-calendar"></i> 
													  <span data-i18n="" class="menu-title">{{ today |date:'longDate' }}</span>	</h3>
													  
													   <h3  class="text-right">  <i class="fa fa-user-circle-o "></i> 
                    <span data-i18n="" class="menu-title" >{{user().nom}} {{user().prenom}}</span>  	</h3>
					   <!-- <div class="content-header row"> -->
                                        <!-- <div class="content-header-left col-md-6 col-12 mb-2"> -->
                                            <!-- <h2 class="content-header-title mb-0">Charge-Enseignant :</h2> -->
       
                                        <!-- </div> -->
                                    <!-- </div> -->
                                    
        </div>
</div>