    <div ng-controller="e_headerController" role="navigation" ng-init="">

         <div class="navbar-form">
              <input type="text" class="form-control " placeholder="Search" ng-change='reportChange()' ng-model='search' ng-hide="true">
              <div class="btn-toolbar  navbar-right">
                  
                    <div class="btn-group" role="group">
                            <button type="button" class="btn btn-warning" data-toggle="modal"  title="Crée un élément de module" data-target="#creeModal" ng-show="user().security_mask>1" ng-click="cree()">
                                    <span class="ft ft-plus" ></span>
                            </button>   
                            <div class="dropdown">
                                    <button class="btn" ng-class="{'btn-primary' : header.newNotifCount()}" type="button" data-toggle="dropdown" ng-show="header.eModuleNotif().length">
                                            <span class="ft ft-bell" aria-hidden="true"></span>
                                            <span class="badge" ng-show="header.newNotifCount()">{{header.newNotifCount()}}</span>
                                    </button>
                                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                                        <div class="notification-heading">
                                            <h4 class="menu-title">Notifications</h4>
                                        </div>
                                        <li class="divider"></li>
                                        <div class="notifications-wrapper">
                                            <a ng-repeat="notif in header.eModuleNotif() | orderBy :'-date'" class="content" href="#!/Gest-Filiere/eModule">
                                                <div  ng-class="{'notification-item' : notif.status == 'unseen','notification-item-seen' : notif.status == 'seen'}" ng-click="notifClick(notif);notif.status = 'seen'">
                                                    <div class="item-info">
                                                        <h4 ng-if='notif.typee == "delete"'>
                                                            {{notif.prof.nom}} {{notif.prof.prenom}} a supprimer {{notif.intitulee}}
                                                        </h4>
                                                        <h4 ng-if='notif.typee == "share"'  >
                                                            {{notif.prof.nom}} {{notif.prof.prenom}} a partager avec vous {{notif.eModule.intitulee}}
                                                            <span class="glyphicon glyphicon-{{getPermision(notif.eModule._id)=='w'?'edit':'eye-open'}}" aria-hidden="true"></span>
                                                        </h4>
                                                        <h4 ng-if='notif.typee == "update"'>
                                                            {{notif.prof.nom}} {{notif.prof.prenom}} a mis a jour {{notif.eModule.intitulee}}
                                                        </h4>
                                                        <h6>{{notif.date}}</h6>
                                                    </div>
                                                </div>
                                                <li class="divider"></li>
                                            </a>
                                        </div>
                                    </ul>
                             </div>
                    </div>
                 </div>
            </div>
    </div> 