<!-- Script print and export -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script> -->
<!-- <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.core.min.js"></script> -->

<div ng-if="user().security_mask >=8" ng-controller="filiere_chrgController" class="panel panel-default" ng-init="">
 
<!-- If database is empty -->
    <div style="margin-top:3%;margin-right:1%;margin-left:1%" class="alert alert-warning" ng-show="charges.length === 0">
        <h1 class="text-center">Veuillez
            <a color="red" ui-sref="Gest-Charges.importer"> importer</a> une nouvelle accréditation ou
            <a color="red" ui-sref="Gest-Charges.archiver"> désarchiver</a> une ancienne</h1>
    </div>
	
<!-- If database is full-->	
<div ng-hide="charges.length === 0">

   <div class="navbar-header" style="margin-top:1%;margin-left:1%">
            <div style="margin-top:1%;margin-left:1%;margin-right:50%">
                <h1 ng-show="selectedannee">Année universitaire :
                    <a>{{selectedannee}}</a>
                </h1>
            </div>
            <div class="text-center">
                <table>
                 <tr>
                        <h1 ng-show="search.Departement">Département:
                            <a>{{search.Departement}}</a>
                        </h1>
                    </tr>
					 <tr>
                        <h1 ng-show="selectedfiliere">Filière:
                            <a>{{selectedfiliere}}</a>
                        </h1>
                    </tr>
                </table>
            </div>
    </div>
	<!--first of everythings -->
	 <div class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">
           
		 <table class=" table table-hover">
             
                        <tr>					
							<!-- <th ng-show="never"> -->
                                <!-- <input type="text"  ng-model="search.intervenantrole='permanent'" /> -->
                            <!-- </th>  -->
                            <th>
                                <h4>Année: </h4>

                                <select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

                                    <option ng-repeat="x in charges | lowercase  | unique :'annee'">{{x.annee}}</option>
                                </select>
               
                             </th>


                              <th>
                    <h4 ng-show="selectedannee">Filière: </h4>

                    <select class="dropdown-menu-sm border-primary " ng-model="selectedfiliere" ng-show="selectedannee">

                        <option ng-repeat="x in charges | lowercase  | unique :'filiere'">{{x.filiere}}</option>
                    </select>
                             </th>
			    <th>
                    <h4 ng-show="selectedannee">Département: </h4>
                     <input ng-show="selectedannee" type="text" ng-model="search.Departement" class="form-control search-input  border-primary" placeholder="Chercher par Departement ..">
                             </th>

                <th ng-show="selectedannee">
                    <h4>Calculer la charge :</h4>
                    <button type="button" ng-click=" calcule()" class="btn btn-danger">
                        <span class="ft ft-play" aria-hidden="true"></span>
                    </button>
                </th>
				    
                <th ng-show="selectedannee">
				<h4>Ajouter enseignant :</h4>
				<button ng-model="add" type="button" class="btn btn-light" title="Ajouter enseignant" ng-click="addgh()">
                                    <span class="ft ft-user-plus" aria-hidden="true"></span>
                                </button>
				</th>
                </tr>
                </table>
            </div>
            <br/>
	<!-- Start Add new teacher -->
        <div style="margin-left:1%;margin-right:1%" ng-show="addVisible">
            <form name="myForm">
                <table border="2" class="table border table-hover">
                    <h3>Ajouter un enseignant</h3>
                    <tbody>
                        <tr>

                            <td>
                                <label class="control-label " for="niveau">Niveau :</label>
                                <input type="text" class="form-control" ng-model="charge.niveau" required/>

                            </td>
                            <td>
                                <label class="control-label " for="Semestre">Semestre :</label>
                                <input type="text" class="form-control" ng-model="charge.Semestre" required/>

                            </td>

                            <td>
                                <label class="control-label " for="IntutileModule">IntutileModule :</label>
                                <input type="text" class="form-control" ng-model="charge.IntutileModule" />

                            </td>
                            <td>
                                <label class="control-label " for="ElementdeModule">ElementdeModule :</label>
                                <input type="text" class="form-control" ng-model="charge.ElementdeModule" required/>

                            </td>
                            <td>
                                <label class="control-label " for="Coordinnateur">Enseignant :</label>
                                <input type="text" class="form-control" ng-model="charge.Coordinnateur" required/>
                            </td>


                        </tr>
                        <tr>

                            <td>
                                <label class="control-label " for="Departement">Departement :</label>
                                <input type="text" class="form-control" ng-model="charge.Departement" required/>

                            </td>
                            <td>
                                <label class="control-label " for="filiere">filiere :</label>
                                <input type="text" class="form-control" ng-model="charge.filiere" ng-value="charge.filiere=FILIERE" required/>

                            </td>


                            <td>
                                <label class="control-label " for="totalfinalTD">TD-Charge:</label>
                                <input type="number" class="form-control" ng-model="charge.totalfinalTD" required/>
                            </td>
                            <td>
                                <label class="control-label " for="totalfinalTP">TP-Charge:</label>
                                <input type="number" class="form-control" ng-model="charge.totalfinalTP" required/>
                            </td>
                            <td>
                                <label class="control-label " for="totalfinalCRs">CRs-Charge:</label>
                                <input type="number" class="form-control" ng-model="charge.totalfinalCRs" required/>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <label class="control-label " for="intervenantrole">Role:</label>
                                <input type="text" class="form-control" ng-model="charge.intervenantrole" required/>
                            </td>
                            <td colspan="3">
                                <label class="control-label " for="total">total charge autorisée:</label>
                                <input type="number" class="form-control" ng-model="charge.total" required/>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>


                        <tr>
                            <td>
                                <button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="valider()">
                                    <span class="ft ft-check-square" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-info" ng-click="hideAdd()">
                                    <span class="ft ft-x" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>


                    </tfoot>
                </table>
            </form>

        </div>
        <br/>
        <!--End Add new teacher -->

        <!--Start show charge filiere -->
        <div ng-show="tableaveccharge" style="margin-top:1%;margin-left:1%;margin-bottom:1%">

            <button class="btn btn-light" title="Exporter la charge de {{FILIERE}} sous format Excel" ng-click="exportToExcel('#tableToExport')">
                <h4>
                    <span class="fa fa-upload" aria-hidden="true"></span>
                </h4>

            </button>
            <button ng-click="printToCart('printSectionId')" class="btn btn-success" title="Imprimer la charge de {{FILIERE}}">
                <h4>
                    <span class="ft ft-printer" aria-hidden="true"></span>
                </h4>
            </button>
            <button type="button" ng-click=" prev()" class="btn btn-primary " title="Editer">
                <h4>
                    <span class="ft ft-edit" aria-hidden="true"></span>
                </h4>
            </button>

        </div>
        <div id="printSectionId" ng-show="tableaveccharge">
            <table id="tableToExport" border="1" class="table  table-bordered table-hover" ng-init="getCharges()">

                <thead class="bg-info">
                    <tr>
                        <th colspan=10 class="text-center" style="border: 1px black solid;"> filiere {{FILIERE}}</th>

                    </tr>
                    <tr>
                        <th style="border: 1px black solid;">Niveau </th>
                        <th style="border: 1px black solid;">Semestre </th>
                        <th style="border: 1px black solid;">IntutileModule </th>
                        <th style="border: 1px black solid;">ElementdeModule</th>
                        <th style="border: 1px black solid;">Coordinnateur </th>
                        <th style="border: 1px black solid;">Departement</th>
                        <th style="border: 1px black solid;">CRs</th>
                        <th style="border: 1px black solid;">TD</th>
                        <th style="border: 1px black solid;">TP</th>
                        <!-- <th style="border: 1px black solid;" class="text-center"> -->
                            <!-- <h4> -->
                                <!-- <strong>Totale</strong> -->
                            <!-- </h4> -->
                        <!-- </th> -->
                        <!-- <th></th> -->
                        <!-- <th></th> -->
                        <!-- <th>total row</th>  -->

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="charge in resultValue=(charges|orderBy:'niveau'|filter :selectedannee| filter :FILIERE|filter:search)">
                        <td  style="border: 1px black solid;"> {{charge.niveau}}</td>
                        <td style="border: 1px black solid;"> {{charge.Semestre}}</td>
                        <td style="border: 1px black solid;">{{ charge.IntutileModule }}</td>
                        <td style="border: 1px black solid;">{{ charge.ElementdeModule }}</td>
                        <td style="border: 1px black solid;">{{ charge.Coordinnateur }}</td>
                        <td style="border: 1px black solid;">{{ charge.Departement }}</td>
                        <td style="border: 1px black solid;">{{ charge.totalfinalCRs}}</td>
                        <td style="border: 1px black solid;">{{ charge.totalfinalTD}}</td>
                        <td style="border: 1px black solid;">{{ charge.totalfinalTP}}</td>
                        <!-- <td style="border: 1px black solid;"> -->
                            <!-- <h4> -->
                                <!-- <strong>{{ charge.totalfinalCRs* 1.5 + charge.totalfinalTD*1 + charge.totalfinalTP *0.75}}</strong> -->
                            <!-- </h4> -->
                        <!-- </td> -->
                        <!-- <td ng-init="charges.total=charges.total +charge.total" -->
                        <!-- ng-show="is[charge._id]" -->
                        <!-- >{{charge.total}}</td>  -->
                        <!-- <td ng-hide="isEditable[charge._id]"> -->
                        <!-- <button class="btn btn-primary inline" ng-click="edit(charge,charge._id)"> -->
                        <!-- <span class="ft ft-edit" aria-hidden="true"> -->
                        <!-- </button> -->

                        <!-- </td> -->
                        <!-- <td  ng-hide="isEditable[charge._id] "   -->

                        <!-- ng-init="charges.sommetotal1=charges.sommetotal1 +charge.totalfinalCRs* 1.5 + charge.totalfinalTD*1 + charge.totalfinalTP *0.75"> -->
                        <!-- {{ charge.totalfinalCRs* 1.5 + charge.totalfinalTD*1 + charge.totalfinalTP *0.75 }} -->
                        <!-- </td>  -->
                        <!-- <td></td> -->
                        <!-- <td></td> -->

                    </tr>
                    <tr>
                        <td colspan=4 style="border: 1px black solid;"></td>
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <td colspan=2 style="border: 1px black solid;">
                            <b>
                                <h4>
                                    <strong>Totaux </strong>
                                </h4>
                            </b>
                        </td>
                        <td style="border: 1px black solid;">
                            <h4>
                                <strong>{{resultValue| sumOfValue:'totalfinalCRs'}}</strong>
                            </h4>
                        </td>
                        <td style="border: 1px black solid;">
                            <h4>
                                <strong>{{resultValue| sumOfValue:'totalfinalTD'}}</strong>
                            </h4>
                            </td>
                            <td style="border: 1px black solid;">
                                <h4>
                                    <strong>{{resultValue| sumOfValue:'totalfinalTP'}}</strong>
                                </h4>
                            </td>
                            <!-- <td>{{invoiceCount}}</td> -->

                            <!-- <td>{{charges.total}}</td>  -->
                            <!-- <td>{{resultValue| total:'totalfinalTP'}}</td> -->
                    </tr>
                    <tr>
                        <td colspan=4 style="border: 1px black solid;"></td>
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <td colspan=2 style="border: 1px black solid;">
                            <b>
                                <h4>
                                    <strong>Total filière avec coef </strong>
                                </h4>
                            </b>
                        </td>
                        <td style="border: 1px black solid;">
                            <h4>
                                <strong>{{resultValue| sumCour:'totalfinalCRs'}}</td>
                        <td style="border: 1px black solid;">
                            <h4>
                                <strong>{{resultValue| sumOfValue:'totalfinalTD'}}</td>
                        <td style="border: 1px black solid;">
                            <h4>
                                <strong>{{resultValue| sumTP:'totalfinalTP'}}</td>
                        <!-- <td></td> -->
                    </tr>
                    <tr>
                        <td colspan=4 style="border: 1px black solid;"></td>
                        <td colspan=2 bgcolor="#c2c2a3" style="border: 1px black solid;">
                            <b>Total filière </b>
                        </td>
                        <td colspan=3 class="text-center" bgcolor="yellow" style="border: 1px black solid;">
                            <legend>
                                <strong>{{resultValue | totalSumPriceQty:'totalfinalTP':'totalfinalTD':'totalfinalCRs'}}</strong>
                            </legend>
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>

        <!--End show charge Dep -->


        <!--Start show table -->

        <div ng-show="selectedannee" style="overflow-x:scroll;margin-left:1%;margin-right:1%">
            <table ng-show="tablesanscharge" ng-init="getCharges()" class="table  table-bordered table-hover ">

                <thead class="bg-info">
                    <tr>
                        <th class="text-center" ng-hide="hide">Informations</th>
                        <th title="Semestre" class="text-center" ng-show="hide">
                            <a ng-click="orderByField='Semestre'; reverseSort = !reverseSort">
                                S
                                <span ng-show="orderByField == 'Semestre'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>
                        <th title="IntutileModule" class="text-center" ng-show="hide">
                            <a ng-click="orderByField='IntutileModule'; reverseSort = !reverseSort">
                                Int_Module
                                <span ng-show="orderByField == 'IntutileModule'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>

                        <th title="Element de module" class="text-center" ng-show="hide">
                            <a ng-click="orderByField='ElementdeModule'; reverseSort = !reverseSort">
                                ElmtModule
                                <span ng-show="orderByField == 'ElementdeModule'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='Coordinnateur'; reverseSort = !reverseSort">
                                Enseignant
                                <span ng-show="orderByField == 'Coordinnateur'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>
                        <th class="text-center" title="Departement" ng-show="hide">
                            <a ng-click="orderByField='Departement'; reverseSort = !reverseSort">
                                Dep
                                <span ng-show="orderByField == 'Departement'">
                                    <span ng-show="!reverseSort">
                                        <i class="fa fa-sort-asc"></i>
                                    </span>
                                    <span ng-show="reverseSort">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                </span>
                            </a>
                        </th>
                        <th class="text-center" title="charge cour acctuelle">CRs</th>
                        <th class="text-center" title="charge TD acctuelle">TD</th>
                        <th class="text-center" title="charge TP acctuelle">TP</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="charge in charges |orderBy:orderByField:reverseSort| filter :selectedannee| filter :selectedfiliere|filter:search">
                        <td ng-show="isEditable[charge._id]">
                            <table>
                                <tr>
                                    <td>
                                        <label title="Niveau">Niveau:</label>
                                    </td>
                                    <td>
                                        {{ charge.niveau }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label title="Semestre">Semestre:</label>
                                    </td>
                                    <td>
                                        {{ charge.Semestre }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label title="IntutileModule">Int_Module:</label>
                                    </td>
                                    <td>
                                        {{ charge.IntutileModule }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label title="ElementdeModule">ElmtM:</label>
                                    </td>
                                    <td>
                                        {{ charge.ElementdeModule }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label title="Departement">Dep:</label>
                                    </td>
                                    <td>
                                        {{ charge.Departement }}
                                    </td>
                                </tr>
                            </table>
                        </td>


                        <td class='input' ng-show="isEditable[charge._id]">
                            <input class="form-control" type="text" ng-model="tmpEdit[charge._id].Coordinnateur" />
                        </td>

                        <td class='input' ng-show="isEditable[charge._id]">
                            <h3> Enseignement (cours):</h3>
                            <br/>
                            <table>
                                <tr>
                                    <td>
                                        <label>Volume de chaque séance:</label>
                                    </td>
                                    <td>
                                        <label>Nombre de groupes:</label>
                                    </td>
                                    <td>
                                        <label>Nbre Occurrences:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreSceance" />
                                    </td>

                                    <td>

                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreGroupe" />
                                    </td>

                                    <td>

                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreOccurence" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=3>
                                        <label>Volume totale cour (cour):</label>
                                        <input ng-show="tmpEdit[charge._id].CRs.NbreSceance && tmpEdit[charge._id].CRs.NbreOccurence && tmpEdit[charge._id].CRs.NbreGroupe"
                                            type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalCRs= (tmpEdit[charge._id].CRs.NbreOccurence * tmpEdit[charge._id].CRs.NbreGroupe * tmpEdit[charge._id].CRs.NbreSceance) "
                                            ng-model="tmpEdit[charge._id].totalfinalCRs">
                                    </td>
                                </tr>
                            </table>



                        </td>
                        <td class='input' ng-show="isEditable[charge._id]">
                            <h3> Enseignement (TD):</h3>
                            <br/>
                            <table>
                                <tr>
                                    <td>
                                        <label>Volume de chaque séance:</label>
                                    </td>
                                    <td>
                                        <label>Nombre de groupes:</label>
                                    </td>
                                    <td>
                                        <label>Nbre Occurrences:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreSceance" />
                                    </td>

                                    <td>

                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreGroupe" />
                                    </td>

                                    <td>

                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreOccurence" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=3>
                                        <label>Volume totale TD (TD):</label>
                                        <input ng-show="tmpEdit[charge._id].TD.NbreSceance && tmpEdit[charge._id].TD.NbreOccurence && tmpEdit[charge._id].TD.NbreGroupe"
                                            type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalTD= (tmpEdit[charge._id].TD.NbreOccurence * tmpEdit[charge._id].TD.NbreGroupe * tmpEdit[charge._id].TD.NbreSceance) "
                                            ng-model="tmpEdit[charge._id].totalfinalTD">
                                    </td>
                                </tr>
                            </table>



                        </td>
                        <td class='input' ng-show="isEditable[charge._id]">
                            <h3> Enseignement (TP):</h3>
                            <br/>
                            <table>
                                <tr>
                                    <td>
                                        <label>Volume de chaque séance:</label>
                                    </td>
                                    <td>
                                        <label>Nombre de groupes:</label>
                                    </td>
                                    <td>
                                        <label>Nbre Occurrences:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreSceance" />
                                    </td>

                                    <td>

                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreGroupe" />
                                    </td>

                                    <td>

                                        <input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreOccurence" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=3>
                                        <label>Volume totale TP (TP):</label>
                                        <input ng-show="tmpEdit[charge._id].TP.NbreSceance && tmpEdit[charge._id].TP.NbreOccurence && tmpEdit[charge._id].TP.NbreGroupe"
                                            type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalTP= (tmpEdit[charge._id].TP.NbreOccurence * tmpEdit[charge._id].TP.NbreGroupe * tmpEdit[charge._id].TP.NbreSceance) "
                                            ng-model="tmpEdit[charge._id].totalfinalTP">
                                    </td>
                                </tr>
                            </table>



                        </td>
                        <td ng-show="isEditable[charge._id]" class="text-center">
                            <h4>Totale(*coeff):</h4>
                            <button type="button" aria-haspopup="true" data-toggle="collapse" class="navbar-toggle btn btn-outline-primary  dropdown-menu-right "
                                data-target=".navbar-ex1-collapse">
                                <legend>
                                    <strong>{{(tmpEdit[charge._id].totalfinalCRs) * 1.5 + (tmpEdit[charge._id].totalfinalTD) *1 +(tmpEdit[charge._id].totalfinalTP)
                                        *0.75}}
                                    </strong>
                                </legend>
                            </button>

                        </td>
                        <td class='input' ng-show="isEditable[charge._id]" ng-if="tmpEdit[charge._id].totalfinalTP + tmpEdit[charge._id].totalfinalTD +tmpEdit[charge._id].totalfinalCRs > tmpEdit[charge._id].total">
                            <div role="alert" class="alert alert-danger text-center">
                                <h3>
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <strong color="red" class="text-center">Vous avez dépassé la charge autorisées {{charge.total}} de ce module</strong>
                                </h3>
                            </div>
                        </td>
                        <td class='input' ng-show="isEditable[charge._id]">
                            <button class="btn btn-success" title="Confirmer" ng-click="confirm(charge._id,charge)" ng-if="tmpEdit[charge._id].totalfinalTP + tmpEdit[charge._id].totalfinalTD +tmpEdit[charge._id].totalfinalCRs <=tmpEdit[charge._id].total">
                                <span class="ft ft-check-square" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-info" title="Annuler" ng-click="annuler(charge._id)">
                                <span class="ft ft-x" aria-hidden="true"></span>
                            </button>
                        </td>






                        <td ng-show="hide" ng-hide="isEditable[charge._id]">{{ charge.Semestre }}</td>
                        <td ng-show="hide" ng-hide="isEditable[charge._id]">{{ charge.IntutileModule }}</td>
                        <td ng-hide="isEditable[charge._id]">{{ charge.ElementdeModule }}</td>
                        <td ng-hide="isEditable[charge._id]">{{ charge.Coordinnateur }} </td>
                        <td ng-show="hide" ng-hide="isEditable[charge._id]">{{ charge.Departement }}</td>
                        <td ng-hide="isEditable[charge._id]">{{ charge.totalfinalCRs}}</td>
                        <td ng-hide="isEditable[charge._id]">{{ charge.totalfinalTD}}</td>
                        <td ng-hide="isEditable[charge._id]">{{ charge.totalfinalTP}}</td>
                        <!-- <td ng-hide="isEditable[charge._id]">{{ charge.filiere}}</td> -->
                        <td ng-hide="isEditable[charge._id]">
                            <button class="btn btn-primary " title="Editer" ng-click="editer(charge,charge._id)">
                                <span class="ft ft-edit" aria-hidden="true"></span>
                            </button>
                            <button ng-confirm-click="Voulez-vous vraiment supprimer?" title="Supprimer" class="btn btn-danger" ng-click="deleteCharge(charge._id)">
                                <span class="ft ft-trash-2" aria-hidden="true"></span>
                            </button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>
        <!--End Show table  -->
		<!--End of everythings -->
    </div>


</div>
</div>