<div  ng-controller="g_headerController"> 
           <div class="navbar-header" style="margin-top:1%;margin-left:1%;margin-right:1%">
                        <h3 class="text-left">         
													  <i class="fa fa-calendar"></i> 
													  <span data-i18n="" class="menu-title">{{ today |date:'longDate' }}</span>	</h3>
													  
													   <h3  class="text-right">  <i class="fa fa-user-circle-o "></i> 
                    <span data-i18n="" class="menu-title" >{{user().nom}} {{user().prenom}}</span>  	</h3>
        </div>
</div>