 <div ng-include src="'./Gest-Charges/charge-filière/header.html'"></div> 
<div ng-include  src= "'./Gest-Charges/charge-filière/tableEdit.html'"></div>  
<div ng-include  src= "'./Gest-Charges/charge-filière/admin.html'"></div>  