<div ng-controller="g_headerController" ng-init="">
        <div class="navbar-header" style="margin-top:1%;margin-left:1%;margin-right:1%">
		<h3 class="text-left">         
													  <i class="fa fa-calendar"></i> 
													  <span data-i18n="" class="menu-title">{{ today |date:'longDate' }}</span>	</h3>
													  
													   <h3 class="text-right">  <i class="fa fa-user-circle-o "></i> 
                    <span data-i18n="" class="menu-title">{{user().nom}} {{user().prenom}}</span>  	</h3>
        </div>
        <div  class=" text-center"  style="margin-top:1%">
             <h4 class=" text-center"> <a class="btn btn-success " ng-click="importcompte()"><h4 class=" text-center">Importer une nouvelle
												accreditation (par filière)</h4></a></h4>
												<h4 class=" text-center"><a class="btn btn-primary" ui-sref="Gest-Charges.archiver"><h4>Désarchiver une ancienne version</h4></a></h4>
        </div>
        <br/>
              <div  ng-show="importuser" class="text-center">
                    <br>
                    <br>
                    <legend><h1><strong>Veuillez choisir votre fichier Excel</strong></h1></legend>
                    <br/>
                    <img src="./Gest-Charges/images/excel.png" class="rounded mx-auto d-block" alt="fichier Excel" style="width:70%"><br>
                 
            </div>
             <div  ng-show="importuser" class="text-center">   
                        
                        <form   name="myForm"  class="fileupload" action="/insert" method="post" enctype="multipart/form-data" align="center">
                                <br/>
								
								<button type="button"  style="margin-left:1%;margin-right:1%" class="text-center navbar-toggle btn btn-outline-success">
          
                                 <input type="file"  class="form-control" name="upfile" accept=".xlsx,.xls,.ods" file-model="file.upload" required/>
                                  
								 </button>
							  
                        <button  class="btn btn-info " style="width:15%;" ng-click="upload()">Ajouter</button>
                        <button  class="btn btn-danger"style="width:15%;" >Annuler</button>
                               
							 
							   
                        </form>
             </div>   
        
</div>