<div  ng-if="user().security_mask >=4 && user().security_mask<8" ng-controller="exportdepController" class="panel panel-default" ng-init="getEnseigants()">

<!-- If database is empty -->
    <div style="margin-top:3%;margin-right:1%;margin-left:1%" class="alert alert-warning" ng-show="enseignants.length === 0">
        <h1 class="text-center">Veuillez <a color="red" ui-sref="Gest-Charges.liste"> valider</a> la charge des enseignants de votre département </h1>
    </div>
	  <!-- If database is full-->
    <div ng-hide="enseignants.length === 0">
	   <div class="navbar-header" style="margin-top:1%;margin-left:1%">
            <div style="margin-top:1%;margin-left:1%;margin-right:50%">
                <h1 ng-show="selectedannee">Année universitaire :
                    <a>{{selectedannee}}</a>
                </h1>
            </div>
            <h2 style="margin-top:1%;margin-bottom:2%" class="text-center">Département:
                <a ng-repeat="y in enseignants|filter:user().nom| unique :'Departement'">{{y.Departement}}</a>
            </h2>
            <div style="margin-right:1%;margin-left:1%" class="alert alert-danger text-center " role="alert" ng-hide="DEP">
                <h3>
                    <i class="fa fa-exclamation-triangle"></i>
                    <strong color="red">Valider</strong> votre département:

                    <div class="text-center">
                        <select class="dropdown-menu-sm border-primary " ng-model="DEP">
                            <option ng-repeat="x in enseignants|filter:user().nom| unique :'Departement'">{{x.Departement}}</option>
                        </select>
                    </div>
			   </h3>
                    
            </div>           
    </div>
	
	<!--first of everythings -->
	 <div ng-show="DEP" class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">
           
		 <table class=" table table-hover">
             
                        <tr>					
							<!-- <th ng-show="never"> -->
                                <!-- <input type="text"  ng-model="search.intervenantrole='permanent'" /> -->
                            <!-- </th>  -->
                            <th>
                                <h4>Année: </h4>

                                <select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

                                    <option ng-repeat="x in enseignants | lowercase  | unique :'annee'">{{x.annee}}</option>
                                </select>
               
                             </th>
							 <th ng-show="selectedannee">
						<button  class="btn btn-light" title="Exporter la charge  sous format Excel" ng-click="exportToExcel('#tableToExport')">
                    <h4><span class="fa fa-upload" aria-hidden="true"></span></h4>
                   
                </button>
                <button  ng-click="printToCart('printSectionId')" class="btn btn-success" title="Imprimer la charge">
				<h4><span class="ft ft-printer" aria-hidden="true"></span></h4></button>
				<a ui-sref="Gest-Charges.liste">
                      <i class="fa fa-user-o"></i> 
                    <span data-i18n="" class="menu-title">Editer</span> 
                </a> 	
					</th>

                </tr>
                </table>
            </div>
            <br/>
	<div style="overflow-x:scroll;margin-left:1%;margin-right:1%" id="printSectionId" ng-show="selectedannee">
           
           <h1 class="text-center">Volume annuel Departement:</h1>
		   <table border="2" id="tableToExport" ng-init="getEnseigants()" class="table  table-bordered table-striped ">


                <!-- </tr> -->
                <!-- </thead> -->
                <thead class="bg-info">
                    <tr> 
                        <th class="text-center" style="border: 1px black solid;">Année:{{selectedannee}}</th>					
                        <th class="text-center" style="border: 1px black solid;">Département:{{DEP}}</th>
                    </tr>
                    <tr>					
                        <th class="text-center" style="border: 1px black solid;">Coordinnateur </th>
                        <th class="text-center" style="border: 1px black solid;"> <strong>Totale</strong> </h4></th>
                    </tr>
                </thead>
                <tbody ng-init="total=0">
                    <tr ng-repeat="charge in enseignants|orderBy:'Coordinnateur'| filter :annee|filter: Departement">

                        <td class="text-center" style="border: 1px black solid;">{{ charge.Coordinnateur }} </td>
						<td class="text-center" style="border: 1px black solid;">
						<h4>
                                <strong>{{ charge.totale}}</strong>
                            </h4>
						 </td>

                    </tr>
                </tbody>
				<tfoot>
			<tr>
			<th class="text-center" style="border: 1px black solid;" bgcolor="#c2c2a3"><h4><strong> Volume Horaire</strong> </h4></th>
			<th class="text-center" style="border: 1px black solid;" bgcolor="yellow"><h4><strong>{{getTotal()}}</strong></h4></th>
			</tr>
			</tfoot>

            </table>
        </div>
	
	
	
</div>
	
	</div>