<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="navigation-header">
                <span class="active">Gestion de délibérations</span>
                <i data-toggle="tooltip" data-placement="right" data-original-title="General" class=" ft-minus"></i>
            </li>
            <li class="nav-item">
                <a ui-sref=".affectation">
                    <i class="ft-calendar"></i>
                    <span data-i18n="" class="menu-title">Exemple</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Gestion de délibérations</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Gestion de délibérations</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="description" class="card">
                <div class="card-header">
                    <h4 class="card-title">Gestion de délibérations</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="alert bg-warning calendar-icon-left mb-2" role="alert">
                            <strong>Page en Construction</strong>
                            <p>This page this page is in construction
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>