<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="navigation-header">
                <span class="active">Gestion de charge</span>
                <i data-toggle="tooltip" data-placement="right" data-original-title="General" class=" ft-minus"></i>
            </li>
            <li class="nav-item">
                <a ui-sref=".acceuil">
                    <i class="ft-home"></i>
                    <span data-i18n="" class="menu-title">Acceuil</span>
                </a>
            </li>
			<li class="nav-item">
                <a ui-sref=".importer" ng-if='user().security_mask >=4'>
                    <i class="fa fa-search"></i>
                    <span data-i18n="" class="menu-title">Import</span>
                </a>
            </li>
			 <li class="nav-item"> 
                 <a ui-sref=".enseignant-info" ng-if="user().security_mask >=1 && user().security_mask < 8">
                      <i class="fa fa-user"></i> 
                    <span data-i18n="" class="menu-title">Charge personnel</span> 
                </a> 
            </li> 
			<li class="nav-item">
                <a ui-sref=".liste" ng-if="user().security_mask >=8">
                    <i class="fa fa-info"></i>
                    <span data-i18n="" class="menu-title">Affichage</span>
                </a>
				  <a ui-sref=".liste" ng-if="user().security_mask >=4 && user().security_mask <8 ">
                    <i class="fa fa-user-o"></i>
                    <span data-i18n="" class="menu-title">Charge-enseignant</span>
                </a>
            </li>
			
			<li class="nav-item">
                <a ui-sref=".charge-departement" ng-if="user().security_mask >=4">
                    <i class="ft-calendar"></i>
                    <span data-i18n="" class="menu-title">Charge-Département</span>
                </a>
            </li>
			<li class="nav-item">
                <a ui-sref=".charge-filière" ng-if="user().security_mask >=2">
                    <i class="ft-file"></i>
                    <span data-i18n="" class="menu-title">charge-Filière</span>
                </a>
            </li>
			 <li class="nav-item">
                <a ui-sref=".exporter"  ng-if="user().security_mask >=8"> 
                   <i class="fa fa-upload"></i> 
                     <span data-i18n="" class="menu-title">Exporter </span>
                </a> 
				<a ui-sref=".exporter"  ng-if="user().security_mask >=1 && user().security_mask <8">
                    <i class="fa fa-upload"></i>
                    <span data-i18n="" class="menu-title">exporterprof </span>
                </a>
             </li>
			 <li class="nav-item">               
				<a ui-sref=".exporterDepa"  ng-if="user().security_mask >=4 && user().security_mask <8">
                    <i class="fa fa-upload"></i>
                    <span data-i18n="" class="menu-title">exporter_Enseignants</span>
                </a>
             </li>
			 <li class="nav-item">
                <a ui-sref=".archiver" ng-if='user().security_mask >=4'>
                    <i class="ft-file"></i>
                    <span data-i18n="" class="menu-title">Archives </span>
                </a>
            </li>
			
        </ul>
    </div>
</div>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <section class="card">
                <div class="card-content">
                        <div ui-view></div>
                </div>
            </section>
        </div>
    </div>
    <script src="Gest-Charges/CDN/download.js"></script>
</div>