<div ng-controller="acceuil_Controller" ng-init="" style="margin-right:5%;margin-left:5% ;margin-bottom:2%">

    <!-- <div 	class="table-responsive"></div> -->

    <div  class="text-center">
        <h3 style="margin-top:2%;margin-left:2%;margin-bottom:2%" class="text-center"> Pour des informations sur les tâches que vous pouvez effectuer en tant que:
            <b ng-if="user().security_mask == 1"> enseignant</b>
            <b ng-if="user().security_mask >= 4 && user().security_mask < 8"> chef de departement et enseignant</b>
            <!-- <b ng-if="user().security_mask == 7"> chef de departement, chef de filiere et enseignant</b> -->
            <b ng-if="user().security_mask >=2 && user().security_mask < 4"> chef de filiere et enseignant</b>
            <b ng-if="user().security_mask == 8"> admin </b>
            Taper ci-dessous </h3>
        <div class="text-center" style="margin-bottom:2%">
            <button class="btn btn-success  " ng-click="yesA()">
                <span class="ft ft-thumbs-up"> OUI</button>
            <!-- <button class="btn btn-warning " ng-click="yesA()"><span class="ft ft-thumbs-down" > NON</button> -->
        </div>
    </div>
    <div>
    <table ng-show="yes" class="table table-hover">

        <tr>
		<td ng-if='user().security_mask >=8'>

                    <div class="card-img-top embed-responsive embed-responsive-item embed-responsive-16by9">
                        <video width="320" height="240" controls>
                            <source src="/app/Gest-Charges/acceuil/ADMIN.MP4" type="video/mp4">

                        </video>
                        <br>
                    </div>
                   

                   
            </td>
            <td ng-if='user().security_mask >=1 && user().security_mask <2'>

                    <div class="card-img-top embed-responsive embed-responsive-item embed-responsive-16by9">
                        <video width="320" height="240" controls>
                            <source src="/app/Gest-Charges/acceuil/PROFESSEUR.MP4" type="video/mp4">

                        </video>
                        <br>
                    </div>
                   

                   
            </td>
			 <td ng-if='user().security_mask >=2 && user().security_mask <4'>

                    <div class="card-img-top embed-responsive embed-responsive-item embed-responsive-16by9">
                        <video width="320" height="240" controls>
                            <source src="/app/Gest-Charges/acceuil/CHEF_FILIERE.MP4" type="video/mp4">

                        </video>
                        <br>
                    </div>
                   

                   
            </td>
			 <td ng-if='user().security_mask >=4 && user().security_mask <8'>

                    <div class="card-img-top embed-responsive embed-responsive-item embed-responsive-16by9">
                        <video width="320" height="240" controls>
                            <source src="/app/Gest-Charges/acceuil/CHEF_DEPARTEMENT.MP4" type="video/mp4">

                        </video>
                        <br>
                    </div>
                   

                   
            </td>
        </tr>
    </table>
</div>


</div>