<div ng-init="">

	  <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <a href="http://ensao.ump.ma"
            target="_blank" class="text-bold-800 grey darken-2">ENSAO </a>, All rights
            reserved. </span>
	  <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block"> Made with TORBI.G and CHETOUANI.R </span>
      </div>
         