<div  >
        <div class="navbar-header" style="margin-top:2%;margin-left:30%;margin-bottom:2%">
                        <div class="content-header row text-center">
                                        <div class="content-header-left col-md-6 col-12 mb-2">
                                            <h1 class="content-header-title mb-0 ">Bienvenue</h1>
                                           <h1  class="content-header-title mb-0 ">{{user().nom}} {{user().prenom }} </h1>
                                            <div class="row breadcrumbs-top">
    
                                            </div>
                                        </div>
                                    </div>
                                    
        </div>
</div>
