<!--Header-->
<div ng-include src="'./Gest-Charges/acceuil/header.html'"></div>
<!-- EModules TAble-->
<div ng-include src="'./Gest-charges/acceuil/acceuil.html'"></div>
<!--CRUD Charges-->
<!-- <div ng-include src="'./Gest-charges/charge/creeCharge.html'"></div> -->
<!-- <div ng-include src="'./Gest-charges/charge/deleteCharge.html'"></div> -->
<!-- <div ng-include src="'./Gest-charges/charge/editeCharge.html'"></div> -->
<!-- <div ng-include src="'./Gest-charges/charge/apercuCharge.html'"></div> -->
<!-- <div ng-include src="'./Gest-charges/popUpNotif.html'"></div> -->

<!--footer-->
<div ng-include src="'./Gest-Charges/acceuil/footer.html'"></div>