<div ng-include  src= "'./Gest-Charges/charge-departement/header.html'"></div> 
<div ng-include  src= "'./Gest-Charges/charge-departement/tableEdit.html'"></div>  
<div ng-include  src= "'./Gest-Charges/charge-departement/admin.html'"></div>  