<div >
<footer class="footer footer-static footer-light navbar-border">
        <p style="margin-bottom:0%" class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 content">
          <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <a href="http://ensao.ump.ma"
            target="_blank" class="text-bold-800 grey darken-2">ENSAO </a>, All rights
            reserved. </span>
          <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block"> Made with Torbi.G and Chetouani.R </span>
        </p>
      </footer>
      </div>
