<!--Header-->
 <div ng-include src="'./Gest-Charges/enseignant-info/header.html'"></div> 
<!--Header-->
 <div ng-include src="'./Gest-Charges/enseignant-info/tableEdit.html'"></div> 
 <!--footer-->
<!-- <div ng-include src="'./Gest-Charges/enseignant-info/footer.html'"></div> -->
