    <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.core.min.js"></script>

<div ng-controller="prof_chrgController" class="panel panel-default" ng-init="getCharges()">
	<!-- If database is empty -->
	<div style="margin-top:3%;margin-right:1%;margin-left:1%" class="alert alert-warning" ng-show="charges.length === 0">
		<h1 class="text-center"
		ng-if="user().security_mask >= 3">
		Veuillez  <a color="red" ui-sref="Gest-Charges.importer"> importer </a> une nouvelle accréditation ou
            <a color="red" ui-sref="Gest-Charges.archiver"> désarchiver </a> une ancienne</h1>
	    	<h1 class="text-center"
		ng-if="user().security_mask < 3">
		Veuillez contacter la personne qui s'occupe de l'import des accréditation</h1>
	</div>
	<!-- If database is full-->
	<div ng-hide="charges.length === 0">
		<div class="navbar-header " style="margin-top:1%;margin-left:1%">
			<div style="margin-top:1%;margin-left:1%">
				<h2 ng-show="selectedannee">
					<span>Année universitaire :
						<a>{{selectedannee}}</a>
					</span>
				</h2>
			</div>

			<h2 class="text-center" style="margin-top:1%;margin-bottom:2%">
				Département :
				<a ng-repeat="x in charges|filter:user().nom| unique :'Departement'">{{x.Departement}}</a>
			</h2>
			<br/>
			
		</div>
		<div  class="text-center" style="margin-top:1%;margin-left:1%;margin-right:1%">

            <table class=" table table-hover">

                <tr>
                    <th>
                        <h4>Année: </h4>

							<select class="dropdown-menu-sm border-primary " ng-model="selectedannee">

								<option ng-repeat="x in charges | lowercase  | unique :'annee'">{{x.annee}}</option>
							</select>

						</th>


						<th ng-show="selectedannee">
							<h5>Vous pouvez exporter/imprimer votre charge:</h5>
							<a ui-sref="Gest-Charges.exporter">
								<i class="fa fa-user-o"></i>
								<span data-i18n="" class="menu-title">Exporter/imprimer</span>
							</a>
						</th>
						<th></th>
					</tr>
				</table>



		</div>
			<br/>


			<div  style="overflow-x:scroll;margin-left:2%;margin-right:2%" ng-show="selectedannee">
				<table    class="table  table-bordered table-hover ">

					<thead class="bg-info">

						<tr>
							
							<th title="Element de module" class="text-center">ElementdeModule</th>
							<th title="charge cour acctuelle" class="text-center">CRs</th>
							<th title="charge TD acctuelle" class="text-center">TD</th>
							<th title="charge TP acctuelle" class="text-center">TP</th>
							<th>Total</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="charge in resultValue=(charges |filter:user().nom|filter:selectedannee)" >
						
							<td>{{ charge.ElementdeModule }}</td>
						
							<td ng-hide="isEditable[charge._id]">{{ charge.totalfinalCRs}}</td>
							<td ng-hide="isEditable[charge._id]">{{ charge.totalfinalTD}}</td>
							<td ng-hide="isEditable[charge._id]">{{ charge.totalfinalTP}}</td>
							<td   ng-hide="isEditable[charge._id] " 
							ng-if="charge.intervenantrole =='permanent'"
							ng-init="charges.sommetotal=charges.sommetotal + charge.totalfinalCRs* 1.5 + charge.totalfinalTD*1 + charge.totalfinalTP *0.75">
								{{ charge.totalfinalCRs* 1.5 + charge.totalfinalTD*1 + charge.totalfinalTP *0.75 }}
							</td>
							
							<td   ng-hide="isEditable[charge._id] " 
							ng-if="charge.intervenantrole !='permanent'"
							ng-init="charges.sommetotal= charges.sommetotal +charge.totalfinalCRs* 1 + charge.totalfinalTD*1 + charge.totalfinalTP *1">
								{{ charge.totalfinalCRs* 1+ charge.totalfinalTD*1 + charge.totalfinalTP *1}}
							</td>



							<td class='input' ng-show="isEditable[charge._id]">
								<h3> Enseignement (cours):</h3>
								<br/>
								<table>
									<tr>
										<td>
											<label>Volume de chaque séance:</label>
										</td>
										<td>
											<label>Nombre de groupes:</label>
										</td>
										<td>
											<label>Nbre Occurrences:</label>
										</td>
									</tr>
									<tr>
										<td>
											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreSceance" />
										</td>

										<td>

											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreGroupe" />
										</td>

										<td>

											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].CRs.NbreOccurence" />
										</td>
									</tr>
									<tr>
										<td colspan=3>
											<label>Volume totale cour (cour):</label>
											<input ng-show="tmpEdit[charge._id].CRs.NbreSceance && tmpEdit[charge._id].CRs.NbreOccurence && tmpEdit[charge._id].CRs.NbreGroupe"
											 type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalCRs= (tmpEdit[charge._id].CRs.NbreOccurence * tmpEdit[charge._id].CRs.NbreGroupe * tmpEdit[charge._id].CRs.NbreSceance) "
											 ng-model="tmpEdit[charge._id].totalfinalCRs">
										</td>
									</tr>
								</table>



							</td>
							<td class='input' ng-show="isEditable[charge._id]">
								<h3> Enseignement (TD):</h3>
								<br/>
								<table>
									<tr>
										<td>
											<label>Volume de chaque séance:</label>
										</td>
										<td>
											<label>Nombre de groupes:</label>
										</td>
										<td>
											<label>Nbre Occurrences:</label>
										</td>
									</tr>
									<tr>
										<td>
											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreSceance" />
										</td>

										<td>

											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreGroupe" />
										</td>

										<td>

											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TD.NbreOccurence" />
										</td>
									</tr>
									<tr>
										<td colspan=3>
											<label>Volume totale TD (TD):</label>
											<input ng-show="tmpEdit[charge._id].TD.NbreSceance && tmpEdit[charge._id].TD.NbreOccurence && tmpEdit[charge._id].TD.NbreGroupe"
											 type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalTD= (tmpEdit[charge._id].TD.NbreOccurence * tmpEdit[charge._id].TD.NbreGroupe * tmpEdit[charge._id].TD.NbreSceance) "
											 ng-model="tmpEdit[charge._id].totalfinalTD">
										</td>
									</tr>
								</table>



							</td>
							<td class='input' ng-show="isEditable[charge._id]">
								<h3> Enseignement (TP):</h3>
								<br/>
								<table>
									<tr>
										<td>
											<label>Volume de chaque séance:</label>
										</td>
										<td>
											<label>Nombre de groupes:</label>
										</td>
										<td>
											<label>Nbre Occurrences:</label>
										</td>
									</tr>
									<tr>
										<td>
											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreSceance" />
										</td>

										<td>

											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreGroupe" />
										</td>

										<td>

											<input class="form-control" type="text" ng-model="tmpEdit[charge._id].TP.NbreOccurence" />
										</td>
									</tr>
									<tr>
										<td colspan=3>
											<label>Volume totale TP (TP):</label>
											<input ng-show="tmpEdit[charge._id].TP.NbreSceance && tmpEdit[charge._id].TP.NbreOccurence && tmpEdit[charge._id].TP.NbreGroupe"
											 type="text" class="form-control" ng-value="tmpEdit[charge._id].totalfinalTP= (tmpEdit[charge._id].TP.NbreOccurence * tmpEdit[charge._id].TP.NbreGroupe * tmpEdit[charge._id].TP.NbreSceance) "
											 ng-model="tmpEdit[charge._id].totalfinalTP">
										</td>
									</tr>
								</table>



							</td>
							<td ng-show="isEditable[charge._id]"
							ng-if="tmpEdit[charge._id].intervenantrole =='permanent'">
							<button  type="button" aria-haspopup="true" data-toggle="collapse"
						 class="navbar-toggle btn btn-outline-primary  dropdown-menu-right " data-target=".navbar-ex1-collapse">
							 <legend ><strong>{{(tmpEdit[charge._id].totalfinalCRs) * 1.5 + (tmpEdit[charge._id].totalfinalTD) *1 +(tmpEdit[charge._id].totalfinalTP) *0.75}}
								</strong></legend >
						</button>
						<br>
						<br>
							  
								<input class="form-control" type="checkbox" ng-checked="tmpEdit[charge._id].active" ng-model="tmpEdit[charge._id].active"
								/>
								<h3 class="text-center">
									<strong class="text-center">valider</strong>
								</h3>
								</td>
								<td ng-show="isEditable[charge._id]"
							ng-if="tmpEdit[charge._id].intervenantrole !='permanent'">
							 <legend ><strong>{{(tmpEdit[charge._id].totalfinalCRs) * 1 + (tmpEdit[charge._id].totalfinalTD) *1 +(tmpEdit[charge._id].totalfinalTP) *1}}
							 </strong></legend >
								
								<input class="form-control" type="checkbox" ng-checked="tmpEdit[charge._id].active" ng-model="tmpEdit[charge._id].active"
								/>
								<h3 class="text-center">
									<strong class="text-center">valider</strong>
								</h3>

							</td>



							<td ng-hide="isEditable[charge._id]">
								<button class="btn btn-primary inline" ng-click="edit(charge,charge._id)">
									<span class="ft ft-edit" aria-hidden="true">
								</button>

							</td>
							 <td class='input' ng-show="isEditable[charge._id]" ng-if ="tmpEdit[charge._id].totalfinalTP + tmpEdit[charge._id].totalfinalTD +tmpEdit[charge._id].totalfinalCRs > tmpEdit[charge._id].total">
							 <div role="alert" class="alert alert-danger text-center"> 
							 <h3> <i class="fa fa-exclamation-triangle"></i>
							 <strong color="red" class="text-center">Vous avez dépassé la charge autorisées {{charge.total}} de ce module</strong>
							 </h3> 
							</div> 
							 </td> 
							 <td class='input' ng-show="isEditable[charge._id]" ng-if ="tmpEdit[charge._id].totalfinalTP + tmpEdit[charge._id].totalfinalTD +tmpEdit[charge._id].totalfinalCRs <=tmpEdit[charge._id].total"> 
							 <button class="btn btn-success"  ng-click="conf(charge._id,charge)"> 
							 <span class="ft ft-check-square" aria-hidden="true"></span>
							 </button>
							 <button class="btn btn-info" ng-click="annuler(charge._id)">
							 <span class="ft ft-x" aria-hidden="true"></span> 
							 </button> 
							 </td> 
						
                         </tr>
						<tr>
								<td>
									<b>Totaux </b>
								</td>
								
								<td>
									<b>{{resultValue| sumOfValue:'totalfinalCRs'}}</b>
								</td>
								<td>
									<b>{{resultValue | sumOfValue:'totalfinalTD'}}</b>
								</td>
								<td>
									<b>{{resultValue | sumOfValue:'totalfinalTP'}}</b>
								</td>
								<td>
								<legend ><b>{{ charges.sommetotal }}</b></legend >
								
								</td>

							</tr>
						
					</tbody>

				</table>
			</div>

		

	</div>

</div>

