<!-- modale delete elemnt de module-->
<div ng-controller="m_deleteModalController" id="deleteModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
		  <h3><strong>Supprimer Module</strong></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div align="center">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete.delete()">Confirmer</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>