<!-- modale edite elemnt de module-->
<div ng-controller="m_editeModalController" id="editeModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
                <div class="modal-body">
                  <form name='editeForm' role="form" novalidate>
                    <div class="col-dm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="universite"><strong>Université</strong></label></h3>
                        </div>
                        <div class="panel-body">
                            <select class="form-control" id="universite" rows="4" name="universite" ng-model="edite.req.universite">
                                <option ng-repeat="param in listparametre">{{param.nom}}({{param.abrev}})</option>
                            </select>
                        </div>
                    </div>
					</div>
					<br/>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="etablissement"><strong>Etablissement</strong></label></h3>
                        </div>
                        <div class="panel-body">
                            <select class="form-control" id="etablissement" rows="4" name="etablissement" ng-model="edite.req.etablissement">
                                <option ng-repeat="etab in etablissements()">{{etab.nom}}({{etab.abrev}})</option>
                            </select>
                        </div>
                    </div>
					<br/>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="departement"><strong>Département</strong></label></h3>
                        </div>
                        <div class="panel-body">
                            <select class="form-control" id="departement" rows="4" name="departement" ng-model="edite.req.departement">
                                <option ng-repeat="dep in departementss()">{{dep.nom}}({{dep.abrev}})</option>
                            </select>
                        </div>
                    </div>
					<br/>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="intitulee"><strong>Intitulée</strong></label></h3>
                        </div>
                        <div class="panel-body">
                           <div class="form-group" ng-class="{ 'has-error' : edite.validation.taken || (editeForm.intitulee.$invalid &&  editeForm.intitulee.$touched)}"> 
                            <input id="intitulee" class="form-control" type="text" name="intitulee" placeholder="Intituléé" ng-model="edite.req.intitulee" ng-focus="edite.validation.taken = false" ng-minlength="3" required>
                            <p ng-show="edite.validation.taken" class="help-block">intitulee existe deja !!.</p>
                            <p ng-show="editeForm.intitulee.$error.minlength && editeForm.intitulee.$touched" class="help-block">intitulee trop court !!.</p>
                            <p ng-show="editeForm.intitulee.$invalid &&  editeForm.intitulee.$touched" class="help-block">intitulee obligatoire !!.</p> 
                          </div>
                        </div>
                    </div>
					
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="prerequis"><strong>Prérequis Pédagogiques</strong></label></h3>
                        </div>
                        <div class="panel-body">
                            <textarea class="form-control" id="prerequis" name="prerequis" placeholder="PRE-REQUIS PEDAGOGIQUES" rows="4" ng-model="edite.req.prerequis"></textarea>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="objectifs"><strong>Objectifs</strong></label></h3>
                        </div>
                        <div class="panel-body">
                            <textarea class="form-control" id="objectifs" name="objectifs" placeholder="objectifs" rows="4" ng-model="edite.req.objectif"></textarea>
                        </div>
                    </div>
					<br/>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="didactique"><strong>Didactique du module</strong></label></h3>
                        </div>
                        <div class="panel-body">
                            <textarea class="form-control" id="didactique" name="departement" placeholder="Didactique du module" rows="4" ng-model="edite.req.didactique"></textarea>
                        </div>
                    </div>
					<br/>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="objectifs"><strong>Evaluation</strong></label></h3>
                        </div>
						
                        <div class="panel-body">
                            <div class="form-group">
                                   <label class="col-sm-12"><strong>Modalités d’évaluation</strong></label>
                                   <textarea class="form-control" type="text" name="modaliteeEvaluation" placeholder="..." rows="5" ng-model="edite.req.modalitee_evaluation"></textarea>
                            </div>
							
                            <div class="form-group">
                                    <label class="col-sm-12"><strong>Note du module</strong></label>
                                    <textarea class="form-control" type="text" name="note" placeholder="..." rows="3" ng-model="edite.req.note"></textarea>
                            </div>
                        </div>
                    </div>
					
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="noteMinimal"><strong>Validation du module </strong></h3><strong><label class="label label-info">note minimale</strong></label> </label>
                        </div>
					</div>
						<div class="panel-body">
                            <input type="number" class="form-control" id="noteMinimal" name="noteMinimal" placeholder="note 
							..."ng-model="edite.req.note_minimal"></textarea>
                        </div>
                    
					<br/>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="didactique"> <strong>Liste des élements de module</strong></label></h3>
                        </div>
                        <div class="panel-body">
                            <select id="eModules" class="selectpicker show-tick" multiple  data-selected-text-format="count" title="..." data-live-search="true" ng-options="eModule.intitulee  for eModule in eModules()"  ng-model="edite.req.eModules">               
                            </select>
							
                            <h4 ng-repeat="currentEModule in edite.currentEModules">
							<br/>
                                <span  class="label label-info">
                                    {{currentEModule.intitulee}}
                                    <button type="button" class="btn btn-info btn-xs" ng-click="edite.removeCurrentEM($index)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </span> 
                            </h4> 
                        </div>
                    </div>
					<br/>
					<div class="modal-footer">
                    <button class="btn btn-info" ng-click="edite.submit(editeForm.$pristine)" ng-disabled="editeForm.$invalid">Valider</button>   
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="edite.annuler()">Annuler</button>
					<!--<div class="col-xs-6 col-sm-3">-->
                        <select class="form-control" ng-model="edite.req.status">
                              <option>complet</option>
                              <option>incomplet</option>
                        </select>
                    <!--</div>  -->
                </div>
                  </form>
                </div>
            </div>
			
      </div>
     </div>