
<div ng-controller="m_headerController"  role="navigation" ng-init="">
        <div class="content-body">
                <section class="card">
                    <div class="card-content">
        
            <div class="navbar navbar-expand-sm bg-danger" role="navigation">
                    <legend class="navbar-brand text-white">
                      <h2><strong>
                        <span class="ft ft-book"></span>
                          Gestion Module
                      </strong></h2>
                    </legend>
                    <!-- import du fichier excel -->
                    <button type="button" class="btn btn-white text-danger border-danger" data-toggle="modal"  title="Créer  Module" data-target="#creeModal" ng-show="user().security_mask>1" ng-click="cree()">
                        <span class="ft ft-plus" ></span>
                   </button>

                
            </div>

            
    <nav class="navbar navbar-light" style="background-color : #fce4ec;"></nav>
    <div class="navbar-header" style="margin-top:1%;">
    <br>
    <nav class="navbar navbar-light" style="background-color : #fce4ec;">
            <table class="text-centered text-danger">
                    <td><legend><h2><strong>Liste Module </strong></h2></legend></td>
                    <td> 
                     <div role="group" class="btn btn-lg pull-right" width="80%">
                        <form class="form-inline my-2 my-lg-0">
                                <input type="text" class="form-control border-danger " placeholder="Rechercher par intitulée ...""" ng-change='reportChange()' ng-model='search' ng-hide="false">
                            </form>
                      </div>
                    </td>
                  </table>
                  </nav>

       
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-top:1%;margin-left:1%">
        <div class="navbar-form">
            <input type="text" class="form-control " placeholder="Search" ng-change='reportChange()' ng-model='search' ng-hide="true">
            <div class="btn-toolbar  navbar-right">
                <div class="btn-group" role="group" ng-show="selectedItemIndex() > -1">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-toggle="tooltip" title='"{{modulesList()[selectedItemIndex()].intitulee}}"'
                        data-target="#apercuModal" ng-click="apercu()">
                        <span class="ft ft-eye" aria-hidden="true"></span>
                    </button>
                    <button type="button" ng-if="getPermision(modulesList()[selectedItemIndex()]._id)=='w'" class="btn btn-secondary" data-toggle="modal"
                        data-toggle="tooltip" title='Editer "{{modulesList()[selectedItemIndex()].intitulee}}"' data-target="#editeModal"
                        ng-click="edite()">
                        <span class="ft ft-edit-2" aria-hidden="true"></span>
                    </button>
                    <button type="button" ng-if='modulesList()[selectedItemIndex()].createdBy._id == user()._id' class="btn btn-primary" data-toggle="modal"
                        data-toggle="tooltip" title='Partager "{{modulesList()[selectedItemIndex()].intitulee}}"' data-target="#shareModal"
                        ng-click="share()">
                        <span class="ft ft-share-2" aria-hidden="true"></span>
                    </button>
                    <button type="button" ng-if='modulesList()[selectedItemIndex()].createdBy._id == user()._id' class="btn btn-danger" data-toggle="modal"
                        data-toggle="tooltip" title='Supprimer "{{modulesList()[selectedItemIndex()].intitulee}}"' data-target="#deleteModal">
                        <span class="ft ft-trash-2" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                   <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-toggle="tooltip" title="Crée un Module" data-target="#creeModal"
                        ng-if="user().security_mask>1" ng-click="cree()">
                        <span class="ft ft-plus" aria-hidden="true"></span>
                    </button>-->
                    <div class="dropdown">
                        <button class="btn btn-info" ng-class="{'btn-primary' : header.newNotifCount()}" type="button" data-toggle="dropdown" ng-show="header.moduleNotif().length">
                            <span class="ft ft-bell" aria-hidden="true"></span>
                            <span class="badge" ng-show="header.newNotifCount()">{{header.newNotifCount()}}</span>
                        </button>
                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                            <div class="notification-heading">
                                <h4 class="menu-title">Notifications</h4>
                            </div>
                            <li class="divider"></li>
                            <div class="notifications-wrapper">
                                <a ng-repeat="notif in header.moduleNotif() | orderBy :'-date'" class="content" href="#!/Gest-Filiere/module">
                                    <div ng-class="{'notification-item' : notif.status == 'unseen','notification-item-seen' : notif.status == 'seen'}" ng-click="notifClick(notif);notif.status = 'seen'">
                                        <div class="item-info">
                                            <h4 ng-if='notif.typee == "delete"'>
                                                {{notif.prof.nom}} a supprimer {{notif.intitulee}}
                                            </h4>
                                            <h4 ng-if='notif.typee == "share"'>
                                                {{notif.prof.nom}} {{notif.prof.prenom}} a partager avec vous {{notif.module.intitulee?notif.module.intitulee:notif.intitulee}}
                                                <span class="ft ft-{{getPermision(notif.module._id)=='w'?'edit':'eye'}}" aria-hidden="true"></span>
                                            </h4>
                                            <h4 ng-if='notif.typee == "update"'>
                                                {{notif.prof.nom}} {{notif.prof.prenom}} a mis a jour {{notif.module.intitulee}}
                                            </h4>
                                            <h4 ng-if='notif.typee == "cord"'>
                                                {{notif.prof.nom}} {{notif.prof.prenom}} vous a designé coordonnateur du Module : {{notif.module.intitulee?notif.module.intitulee:notif.intitulee}}
                                                <span class="ft ft-edit" aria-hidden="true"></span>
                                            </h4>
                                            <h4 ng-if='notif.typee == "eModuleUpdate"'>
                                                {{notif.prof.nom}} {{notif.prof.prenom}} a mis a jour {{notif.module.intitulee}}
                                                <span class="help-block">element de module Modifier : {{notif.eModule.intitulee}}</span>
                                                <span class="ft ft-edit" aria-hidden="true"></span>
                                            </h4>
                                            <h6>{{notif.date}}</h6>
                                        </div>
                                    </div>
                                    <li class="divider"></li>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>