    <!--Header-->
    <div ng-include  src= "'./Gest-Filiere/module/header.html'"></div>  
    <!-- EModules TAble-->
    <div ng-include  src= "'./Gest-Filiere/module/moduleTable.html'"></div>
    <!--CRUD Modals-->
    <div ng-include  src= "'./Gest-Filiere/module/creeModal.html'"></div>
    <div ng-include  src= "'./Gest-Filiere/module/deleteModal.html'"></div>
    <div ng-include  src= "'./Gest-Filiere/module/shareModal.html'"></div>
    <div ng-include  src= "'./Gest-Filiere/module/editeModal.html'"></div>
    <div ng-include  src= "'./Gest-Filiere/module/apercuModal.html'"></div>
    <div ng-include  src= "'./Gest-Filiere/popUpNotif.html'"></div>