<div style="margin-right:0%;margin-left:0%">
<div ng-controller="m_moduleTableController" class="table-responsive" ng-init="moduleTable.init()">
        <table class="table table-info table-striped" style="background-color: #f8bbd0;">
                <thead class="thead-danger text-centered">

                    <tr class="bg-danger">
                    <th class="white" width="40%"><legend><h3><strong>Intitulée Module</strong></h3></legend></th>
                    <th class="white" width="30%"><legend><h3><strong>Coordinateur Module</strong></h3></legend></th>
                    <th class="white" width="40%"><legend><h3><strong>Date Modification</strong></h3></legend></th>
                    <th class="white" width="3%"><legend><h3><strong>Détails</strong></h3></legend></th>
                </tr>
           </thead>
           <tbody>
                 <tr ng-repeat="module in moduleTable.items() | filter : moduleTable.search |unique:'intitulee'" class="{{module.status =='complet'?'tr_complet':'tr_incomplet'}}" ng-class="{'tr_active' : moduleTable.selectedIndex == $index}" ng-mousedown="moduleTable.clicked($index,module._id,module.intitulee)" context-menu="moduleTable.menuOptions{{modulesList()[selectedItemIndex()].createdBy._id == user()._id?'':getPermision(modulesList()[selectedItemIndex()]._id)}}"  ng-click="moduleTable.clicked($index,module._id,module.intitulee)">
                    <td><h4><strong>{{module.intitulee}}</strong></td>
                    <td><h4><strong>{{module.coordonnateur._id==user()._id?'Vous':module.coordonnateur.nom+" "+module.coordonnateur.prenom}}</strong></td>
                    <td><h4><strong>{{module.lastUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</strong></h4></td>
                    <td>
                                <div ng-controller="m_headerController"  role="navigation" ng-init="">
                                <div class="btn-group" role="group" >
                              <button type="button" class="btn btn-info" data-toggle="modal"  title='"{{modulesList()[selectedItemIndex()].intitulee}}"'
                                  data-target="#apercuModal" ng-click="apercu()">
                                  <span class="ft ft-eye" ></span>
                              </button>
                              <button type="button"  class="btn btn-secondary" data-toggle="modal"
                                 title='Partager "{{modulesList()[selectedItemIndex()].intitulee}}"' data-target="#shareModal"
                                  ng-click="share()">
                                  <span class="ft ft-share-2" ></span>
                              </button>
                              <button type="button" class="btn btn-success" data-toggle="modal"
                                   title='Editer "{{modulesList()[selectedItemIndex()].intitulee}}"' data-target="#editeModal"
                                  ng-click="edite()">
                                  <span class="ft ft-edit"></span>
                              </button>
                              <button type="button"  class="btn btn-danger" data-toggle="modal"
                                   title='Supprimer "{{modulesList()[selectedItemIndex()].intitulee}}"' data-target="#deleteModal">
                                  <span class="ft ft-trash-2"></span>
                              </button>
                          </div></div>
                              </td>
                    </tr>
					
       
            </tbody>
			
       </table>   
</div>
</div>
 <!--<h6>{{module.createdBy._id==user()._id?'Vous':module.updatedBy.nom+" "+module.updatedBy.prenom}}</h6></strong></td> 
                -->