<!-- Modal Creation Element de Module-->
 <div ng-controller="m_shareModalController" class="modal fade" id="shareModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title"><strong>Partager le module</strong></h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <div class="modal-body">
          <form name='creeModuleForm' role="form" novalidate>
                <div class="form-group">
                    <label for="coordonnateur"><strong>Coordinateur :</strong></label>
                    <div class="form-inline">
                        <select id="sendToList" class="form-control"  title="..." data-live-search="true" ng-options="prof.nom+' '+prof.prenom  for prof in profs()"  ng-model="share.req.cordId">                 
                        </select>&nbsp;
                        <h4 ng-show="share.currentCord">
                            <span  class="label label-info">
                                    {{share.currentCord.nom}} {{share.currentCord.prenom}}
                                    <button type="button" class="btn btn-info btn-xs" ng-click="share.removeCurrentCord()">
                                        <span class="ft ft-minus" aria-hidden="true"></span>
                                    </button>
                            </span> 
                       </h4>
                    </div>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="share.submit()" >Valider</button>   
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="share.annuler()">Annuler</button>
        </div>
      </div>
    </div>
  </div>